<div id="itour-banner">
			<div class="bnner-inside">
				<div class="banner-container">
					<div class="banner-logo itour-banner-fl">
						<a href="${ctxPath}/index"><img src="${ctxPath}/img/common/itour-logo.png" /></a>
					</div>
					<ul class="banner-menus itour-banner-fl">
						<li><a href="${ctxPath}/index" target="_blank">首页</a></li>
						 <li class="toolbar-subMenu-box">
							<a href="${ctxPath}/work/index" target="_blank">日志</a>
							@if(shiro.hasPermission("/work/workMd")){ 
							<div class="toolbar-subMenu">
							   	  	<a href="${ctxPath}/work/workMd">写日志</a>
							   	  	<a href="#">我的日志</a>							   	  	
							</div>
							@}
						</li>
						<!--<li><a href="#" target="_blank">糖友</a></li>
						<li class="toolbar-subMenu-box">
							<a href="#" target="_blank">寻觅</a>
							<div class="toolbar-subMenu">
							   	  	<a href="#" id="love">寻觅佳人</a>
							   	  	<a href="#">寻觅网站</a>
							   	  	<a href="#">寻觅电影</a>
							</div>
						</li> -->
						
					</ul>
					<div class="banner-serach itour-banner-fl">
						<div class="banner-serach-container">
							<input type="text" class="banner-search-input" maxlength="100" autocomplete="off" placeholder="上海有那些好玩的地方"/>
						<button type="button" class="banner-search-button button-search-banner"></button>
						</div>
						
					</div>
					<div class="banner-btns itour-banner-fr">
					  @if(shiro.hasPermission("/travel/mdEdit")){ 
						<div class="banner-btn banner-btn-write toolbar-subMenu-box itour-banner-fl">
							<a href="${ctxPath}/travel/mdEdit">
								<i></i>创作中心
							</a>
							<div class="toolbar-subMenu">
							    <a href="${ctxPath}/travel/mdEdit">写攻略</a>
							</div>
						</div>
					  @}
					   <!--  <a href="#" target="_blank" class="banner-btn banner-btn-collect itour-banner-fl">收藏</a> -->
					<!--    <div class="banner-btn banner-btn-msg  itour-banner-fl">
					   	 <div class="toolbar-subMenu-box">
					   	 	  <a href="#" target="_blank">消息</a>
						   	  <div class="toolbar-subMenu">
						   	  	<a href="#">公告</a>
						   	  	<a href="#">评论</a>
						   	  	<a href="#">关注</a>
						   	  	<a href="#">点赞</a>
						   	  	<a href="#">私信</a>
						   	  	<a href="#">回答</a>
						   	  	<a href="#">系统通知</a>
						   	  	<a href="#">消息设置</a>
						     </div>
					   	 </div>					   	 
					   </div> -->
					  
					    @if(!isEmpty(user)){
					   <div class="banner-btn-login itour-banner-fl toolbar-subMenu-box" style="display: block;">
					   	 <a class="hasAvatar" href="${ctxPath}/travel/personCenter">
					   	    @if(isEmpty(user.avatar)){
					   	 		<img src="${ctxPath}/img/common/avatar-5.webp" />
					   	 	@}else{
					   	 		<img src="${user.avatar}" />
					   	 	@}
					   	 </a>
					   	 <div class="toolbar-subMenu">
					   	 	<a href="${ctxPath}/travel/personCenter" target="_blank"><i class="banner-icon banner-icon-profile"></i>我的主页</a>
					   	 	<!--<a href="#" target="_blank"><i class="banner-icon banner-icon-mp"></i>攻略管理</a>
					   	 	<a href="#" target="_blank"><i class="banner-icon banner-icon-blog"></i>我的博客</a>
					   	 	<a href="#" target="_blank"><i class="banner-icon banner-icon-account"></i>设置</a> -->
					   	 	<a href="${ctxPath}/account/reg" target="_blank"><i class="banner-icon"></i>注册</a>
					   	 	<a href="${ctxPath}/shiro/logout" target="_blank"><i class="banner-icon banner-icon-logout"></i>退出</a>
					   	 </div>
					   </div>
					   @}else{
					   <div class="banner-btn-login itour-banner-fl" style="display: block;">
					   	   <a class="" href="${ctxPath}/account/login">登录</a>
					   	    @if(shiro.hasRole("GSAdmin")){
					   	   <a class="" href="${ctxPath}/account/reg">注册</a>
					   	    @}
					   </div>
					   @}
					  
					</div>
				</div>
			</div>
		</div>