<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
@include("/inc/inc.html"){}
<style>
 .heJID{
    width: 20%;
    float:left;
    padding:3px;
   }
</style>
 <script type="text/javascript">
	    $(function(){
	    	 initSelect($("#status"), "ACCOUNT_STATUS",true,"全部");
	    	 initSelect($("#utype"), "UTYPE",true,"全部");
	    	 initSelect($("#sex"), "SEX",true,"全部");
	    	searchFunTotal('/member/selectViewAccountList', $('#dataGrid'), getList,{'c': 1, 's': 10,'k':'vo'});
	    });
	    
	    function getList(options) {
	    	console.log("console");
            var op = {            	
                fitColumns:false,
                fit:true,
                singleSelect:true,
                pageList:[10,40,80,200,500],
                columns:[[
					{field:'id',title:'编号',width:60},					
					{field:'uid',title:'用户唯一号',width:100},
					{field:'sexStr',title:'性别',width:60},
					{field:'createdate',title:'注册日期',width:150,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm"):"";}},
					{field:'createip',title:'注册IP地址',width:150},
					{field:'lasttime',title:'上次登录时间',width:150,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm"):"";}},
					{field:'statusStr',title:'状态',width:100},
					{field:'utypeStr',title:'类型',width:100}
				]],
                toolbar: '#toolbar',
                onLoadSuccess:function(data){
                    setTimeout(function(){
                        var totalReport = $("#totalReport .heJID label");
                        var footerT = data.sum;
                        $.each(totalReport, function (index, value) {
                            var that = $(this);
                            footerT[that.attr("id")] ? that.text(footerT[that.attr("id")]) : that.text("0");
                        }); 
                    }, 100)
                },                
                onSelect:function(rowIndex, rowData){
                
                }
            };
            return $.extend(op,options);
        }
	   
	    </script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false" >
	    <div data-options="region:'north',title:'查询条件',split:true" style="height:150px; overflow: hidden">
	    	<form id="searchForm">
	    	   <div class="mTop10 mLeft20">
	    	   	  <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>编号:</label>
	    	   	        <input type="text" placeholder=""  name="id"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>用户唯一号:</label>
	    	   	        <input type="text" placeholder=""  name="uid"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>性&nbsp;别:</label>
	    	   	        <select id="sex" name="sex"></select>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>注册日期:</label>
	    	   	        <input type="text" placeholder=""  name="company"/>
	    	   	      </div>
	    	   	  </div>	    	   	  
	    	   	  <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>注册IP地址:</label>
	    	   	        <input type="text" placeholder=""  name="createip"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>上次登录时间:</label>
	    	   	        <input type="text" placeholder=""  name="company"/>
	    	   	      </div>
	    	   	        <div class="fLeft label-handsome ">
	    	   	        <label><span></span>状&nbsp;态:</label>
	    	   	        <select id="status" name="status"></select>
	    	   	      </div>
	    	   	       <div class="fLeft label-handsome ">
	    	   	        <label><span></span>类型:</label>
	    	   	        <select id="utype" name="utype"></select>
	    	   	      </div>
	    	   	       
	    	   </div>
	    	    <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span></label>
	    	   	        <!-- <input type="text" placeholder=""  name="gDesc"/> -->
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span></label>
	    	   	        <!-- <input type="text" placeholder=""  name="company"/> -->
	    	   	      </div>
	    	   	        <div class="fLeft label-handsome ">
	    	   	        <label><span></span></label>
	    	   	      <!--   <input type="text" placeholder=""  name="company"/> -->
	    	   	      </div>
	    	   	       <div class="fLeft label-handsome ">
	    	   	        <a onclick="searchFunTotal('/member/selectViewAccountList', $('#dataGrid'), getList,{'c': 1, 's': 10,'k':'vo'});" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
						<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearFunction('searchForm');">清空搜索条件</a>
	    	   	     </div>
	    	   </div>
			</div>	
				
			</form>
	    </div>
	    <div data-options="region:'center',title:'管理员信息',border:false,split:true">
	    	<table id="dataGrid"></table>
	    </div>
	    <div data-options="region:'south',title:'',border:false" style="height:55px; overflow: hidden;">
           <div id="totalReport" style="padding: 3px;padding-left: 30px">
             <div class="heJID">总用户量:&nbsp;<label id="totalAccount" class="redSharp bolder"></label></div>
          </div>
      </div>
	    <div id="toolbar">	      
	      <a href="#" onclick="addFun('新增', '/member/adminAddP', $('#dataGrid'), {});" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>	
	      <a href="#" onclick="editFun('编辑','/member/adminUpdateP?id=',$('#dataGrid'),{'key':'id'})" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a> 
	       @if(shiro.hasPermission("/member/adminDetailP")){        
	      	<a href="#" onclick="editFun('查看详情','/member/adminDetailP?uid=',$('#dataGrid'),{buttons: [],'key':'uid','height':400,'width':1200})" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">查看详情</a>
	       @}
	    </div>
	</div>
</body>
</html>