<!DOCTYPE html>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
$(function(){
	
	var option={
			checkbox: true,			 
            onClick:function(node){
                var that = $(this);
                if(node.checked){
                    that.tree('uncheck',node.target);
                    var cNodes = that.tree('getChildren',node.target);
                    $.each(cNodes,function(index,value){
                        that.tree('uncheck',value.target)
                    })
                }else{
                    that.tree('check',node.target);
                    var cNodes = that.tree('getChildren',node.target);
                    $.each(cNodes,function(index,value){
                        that.tree('check',value.target)
                    })
                }
            }
	}
	console.log("wangtao");
	var uids='${uids}';
	var uidArr = JSON.parse(uids);
	var uid="";
	if(uidArr.length==1){
		uid=uidArr[0];
	}
	var postData={"uid":uid};
	initTree('/member/grantGroupList',JSON.stringify(postData),$('#resourceTree'), option);
	$("#accountGroupFun").click(function(){
		console.log("wwwangtao");
		var arr = getTreeGroupIds($('#resourceTree'));
		var url="/member/powerGroup";
		var uids='${uids}';
		var uidArr = JSON.parse(uids)
		var data={"uids":uidArr,"arr":arr}
		postAjax(url,JSON.stringify(data),closeDialogCallBack,{});
	});
	
});

</script>
<var id="groupIdText" style="display: none">${uids}</var>
<div id="accountGrantLayout" class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center'" title="角色授权" style="width: 300px; padding: 1px;">
        <div class="well well-small">
            <form id="form" method="post">
                <input name="id" type="hidden" style="display: none" class="span2" value="${uids}" readonly="readonly">
                <ul id="resourceTree"></ul>
                <input id="resourceIds" name="choiceId" type="hidden" style="display: none"/>
            </form>
           
        </div>
    </div>
</div>
