<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${title}</title>
<link rel="stylesheet" href="${ctxPath}/css/common/common.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/index.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/style.css" />
<script type="text/javascript" src="${ctxPath}/easyui/jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath}/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${ctxPath}/js/common/jquery.serializejson.min.js"></script>
<script type="text/javascript">var ctxPath = "${ctxPath}";</script>
<script type="text/javascript" src="${ctxPath}/js/tool.js"></script>
</head>
<body>
${layoutContent}
@include("footer/footer.html"){}
</body>
</html>