<script type="text/javascript">
$(function(){
	console.log("inittree");
	var url="/menu/getMenuList";
	initWestTree(url,$("#layout_west_tree"),{});
	var folderNodeAll = $('#layout_west_tree ul>li>.tree-node>.tree-folder').parent();
	folderNodeAll.css('border-top','1px solid #E6EEF8').css('border-bottom','1px solid #E6EEF8')
			.css('background-color','#fae2e2')
			.find('.tree-title').css('font-size','16px');
	$('#layout_west_tree').css('border-left','1px solid #E6EEF8').css('border-right','1px solid #E6EEF8');
});
</script>
<style>
	#layout_west_tree .tree-node{height:30px;}
	#layout_west_tree .tree-title{padding:0 2px;height:30px;line-height:30px}
	#layout_west_tree .tree-folder{display:none;}
	#layout_west_tree .tree-expanded{width:18px;height:30px;margin:6px 9px;background:url(${ctxPath}/img/common/icon-set6-blue.png) no-repeat }
	#layout_west_tree .tree-expanded-hover{margin:6px 9px;height:30px;background:url(${ctxPath}/img/common/icon-set6-blue.png) no-repeat}
	#layout_west_tree .tree-collapsed{width:18px;height:30px;margin:6px 9px;background:url(${ctxPath}/img/common/icon-set5-blue.png) no-repeat}
	#layout_west_tree .tree-collapsed-hover{width:18px;height:30px;margin:6px 9px;background:url(${ctxPath}/img/common/icon-set5-blue.png) no-repeat}
	#layout_west_tree .tree-file{width:18px;        margin-top:7px;height:30px;background:url(${ctxPath}/img/common/icon-set7.png) no-repeat}
	#layout_west_tree .panel-title {
		color: #A80D0D;
	}
	#layout_west_tree .accordion .accordion-header-selected{
		background-color: RGB(228,238,255);
	}
    #layout_west_tree .tree-node-selected{color:#000000;background-color: #E0ECFF;font-weight: bold}
	#layout_west_tree .tree-node-hover{background:#E0ECFF;} 

	#layout_west_tree .tree-node-selected>.tree-file{
        background:url(${ctxPath}/img/common/icon-set8-blue.png) no-repeat;
        margin-top:7px;
	}
	#layout_west_tree .accordion .accordion-header-selected .panel-title{color:#A80D0D}
</style>
 <div>
 	<div class="menu-left">
	  <ul class="layout_west_tree easyui-tree" id="layout_west_tree">
		<!-- <li data-options="state:'closed'">
		  <span>权限管理</span>
		  <ul>
			<li ><span>组管理</span></li>
			<li ><span>角色管理</span></li>
			<li ><span>权限管理</span></li>				
	      </ul>
		</li>
		<li data-options="state:'closed'" >
		  <span>用户管理</span>
		  <ul>
			<li ><span>用户查询</span></li>
			<li ><span>登录记录</span></li>
	      </ul>
		</li>
		<li data-options="state:'closed'" >
		  <span>评论管理</span>
		  <ul>
			<li ><span>评论查询</span></li>
	      </ul>
		</li> -->
 	  </ul>
  </div>
 </div>
  
