 @#ajax favaritescontent:{
 @for(c in fList!){
	    					<div class="selfCollectionItem-innerContainer">
	    						<a class="selfCollectionItem-title">
	    							${c.favorite}
	    							@if(c.visual=='0'){
	    						    <span style="display: inline-flex; align-items: center;vertical-align: bottom;">
	    						    	<svg class="Zi Zi--Lock" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M18 8c.1-3.308-2.592-6-5.9-6-3.308 0-6 2.692-6 6v2H5.002C4 10 4 11 4 11v9s0 2 2 2h12c2 0 2-1.97 2-1.97V11s0-1-1-1h-1V8zm-6-4c2.143.018 4.005 1.597 4 4v2H8V7.996C8.013 5.562 9.857 3.982 12 4z" fill-rule="evenodd"></path></svg>
	    						    </span>
	    						    @}
	    						</a>
	    						<div class="selfCollectionItem-actions">
	    						
	    							${c.latestDate,dateFormat='yyyy-MM-dd'} 更新 · ${c.infoCount}条内容 <!-- · 0 人关注 -->
	    							<button type="button" class="button button--plain button--withIcon button--withLabel">
	    								<span style="display: inline-flex; align-items: center;">​
	    									<svg class="Zi Zi--EditSurround Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M4 6a2 2 0 0 1 2-2h5.75a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-5.5a.25.25 0 0 0-.25.25v11.5c0 .138.112.25.25.25h11.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25V18a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6z" fill-rule="evenodd" clip-rule="evenodd"></path><path d="M18.293 1.293a1 1 0 0 1 1.414 0l3 3a1 1 0 0 1 0 1.414l-10 10A1 1 0 0 1 12 16H9a1 1 0 0 1-1-1v-3a1 1 0 0 1 .293-.707l10-10zm-8.22 11.048a.25.25 0 0 0-.073.177v1.232c0 .138.112.25.25.25h1.232a.25.25 0 0 0 .177-.073l8.75-8.75a.25.25 0 0 0 0-.354l-1.232-1.232a.25.25 0 0 0-.354 0l-8.75 8.75z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
	    								</span>
	    							编辑
	    							</button>
	    							<button type="button" class="button button--plain button--withIcon button--withLabel">
	    							   <span style="display: inline-flex; align-items: center;">​
	    							     <svg class="Zi Zi--Trash Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M16.464 4s.051-2-1.479-2H9C7.194 2 7.465 4 7.465 4H4.752c-2.57 0-2.09 3.5 0 3.5l1.213 13.027S5.965 22 7.475 22h8.987c1.502 0 1.502-1.473 1.502-1.473l1.2-13.027c2.34 0 2.563-3.5 0-3.5h-2.7zM8.936 18.5l-.581-9h1.802v9H8.936zm4.824 0v-9h1.801l-.61 9H13.76z" fill-rule="evenodd"></path></svg>
	    							   </span>
	    							   删除
	    							</button>
	    						</div>
	    					</div>
	    					
	    					@}
@}	    					