@layout("/layout/template-css.html",{title:'爱旅行-登录'}){
<style>
 body{
 background: #fff;
 }
</style>
<script type="text/javascript" src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript" src="${ctxPath}/js/account/account.js"></script>
<script type="text/javascript">    
    $(function(){
    	var cip = returnCitySN.cip;
    	var cname = returnCitySN.cname;
    	   if(cname){    		   
       	       $("#city").val(cname); 
    	   }  
    		$("#ip").val(cip);

    /* 	var url="http://ip-api.com/json/?lang=zh-CN";    	
    	 $.ajax({
    	        type: "get",
    	        dataType: "json",
    	        url:  url,
    	        async:true ,
    	        beforeSend: function () {
    	        },
    	        success: function (resultData) {
    	        	$("#area").val(resultData.city);
    	        	$("#country").val(resultData.country);
    	        	$("#countryCode").val(resultData.countryCode);
    	        	$("#latitude").val(resultData.lat);
    	        	$("#longitude").val(resultData.lon);
    	        	$("#regionName").val(resultData.regionName);
    	        	$("#region").val(resultData.region);
    	        	$("#isp").val(resultData.isp);
    	        	$("#ip").val(resultData.query);
    	        },
    	        error: function (result) {
    	            
    	        }
    	    }); */
    
    	
    })
</script>
		<div class="login-head-wrap">
			<div class="w">
				<div class="logo">
					 <a href="${ctxPath}/index">
	           			 <img src="${ctxPath}/img/common/itour-logo.png" alt="爱旅行SHOW" width="170" height="60">
	        		 </a>
	                <span class="welcome">欢迎登录</span>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="login-wrap">
				<div class="w">
					<div class="login-form">
						<div class="tips-wrapper">
	        				<div class="tips-inner">
	        					<div class="cont-wrapper">
	        						<i class="icon-tips"></i>
	        						<p>本网站不会以任何理由要求您转账汇款，谨防诈骗。</p>
	        					</div>
	        				</div>
	        			</div>
					    <div class="login-tab login-tab-c" style="display: block;">
	        				<a href="#" class="checked">账户登录</a>
	        			</div>
	        			<div class="login-box" style="display: block; visibility: visible;">
	        				<div class="mt tab-h"></div>
	        				<div class="msg-wrap">
	        					<div class="msg-error hide">
	        						<b></b>
	        						请输入用户名
	        					</div>
	        				</div>
	        			    <div class="mc">
	        			    	<div class="form">
	        			    		<form id="loginform" onsubmit="return false" method="post">
	        			    			<input type="hidden" name="uuid" id="uuid" >
					                    <input type="hidden" name="ip" id="ip">  
					                    <input type="hidden" name="country" id="country">  
					                    <input type="hidden" name="countrycode" id="countryCode">  
					                    <input type="hidden" name="city" id="city">  
					                    <input type="hidden" name="latitude" id="latitude">  
					                    <input type="hidden" name="longitude" id="longitude">  
					                    <input type="hidden" name="isp" id="isp">  
					                    <input type="hidden" name="region" id="region">  
					                    <input type="hidden" name="regionname" id="regionName">  
					                    <input type="hidden" name="area" id="area">
					                    <input type="hidden"  id="key-verify">
	        			    			<div class="item item-fore1">
	        			    				<label class="login-label name-label"></label>
	        			    				<input type="text" name="loginname" class="itxt" placeholder="邮箱/用户名/登录手机" autocomplete="off" id="loginname" />
	        			    				<span class="clear-btn" style="display: none"></span>
	        			    			</div>
	        			    			<div class="item item-fore2 ">
	        			    				<label class="login-label pwd-label"></label>
	        			    				<input type="password" name="nloginpwd" class="itxt itxt-error" placeholder="密码" autocomplete="off" id="nloginpwd" />
	        			    			    <span class="clear-btn" style="display: none;"></span>
	        			    			    <span class="capslock" style="display: none;">
	        			    			    	<b></b>
	        			    			    	大小写锁定已打开
	        			    			    </span>
	        			    			</div>
	        			    			<div id="o-authcode" class="item item-vcode item-fore3  hide">
	        			    				<input type="text" class="itxt itxt02" id="authcode" />
	        			    				<img src="../../img/itour/code.png" width="90" height="33" />
	        			    				<a href="#">看不清换一张</a>

	        			    			</div>
	        			    			<div class="item item-fore4">
	        			    				<div class="safe">
	        			    					<span></span>
	        			    					<span class="forget-pw-safe"><a href="${ctxPath}/account/setpwd">忘记密码</a></span>
	        			    				</div>
	        			    			</div>
	        			    			<div class="item item-fore5">
	        			    				<div class="login-btn">
	        			    					<a class="btn-img btn-entry" id="loginsubmit">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
	        			    				</div>
	        			    				<div class="itour-suspend-warp itour-bind-suspend-wrap" id="itour-wrap-loginsubmit" style="width: 316px; position:absolute; top: -240px; left: 0px; height: 296.686px; display: none;z-index:100001">
										    	<div class="itour-suspend-slide">
										    		<div class="itourValidate-wrap">
										    			<a class="itour-close"style="outline: rgb(109, 109, 109) none 0px;"></a>
										    			<a class="itour-arrow"></a>
										    			<div class="itour-slide" style="width: auto" classname="itour-slider">
										    				<div class="itour-img-panel itour-click-bind-suspend ">
										    					<div class="itour-refresh" style="margin-right: 15px">
										    						<div class="itour-lable-refresh">完成拼图验证</div>
										    						<div class="itour-img-refresh">
										    							<span >换一张</span>
										    							<div></div>
										    						</div>
										    					</div>
										    					<div class="itour-img-wrap">
										    						<div class="itour-bigimg" style="">
										    							<img src="" />
										    						</div>
										    						<div class="itour-smallimg" style="">
										    							<img src="" />
										    						</div>
										    					</div>
										    				</div>
										    				<div class="itour-slide-bg ">
										    					<div class="itour-slide-inner itour-slide-text">
										    						<div class="itour-slide-left"></div>
										    						<div class="itour-slide-center">向右滑动完成拼图</div>
										    						<div class="itour-slide-right"></div>
										    					</div>
										    					<div class="itour-slide-inner itour-slide-bar" style="display: block; width: 0px;">
										    						<div class="itour-slide-bar-left"></div>
										    						<div class="itour-slide-bar-center"></div>
										    						<div class="itour-slide-bar-right"></div>
										    					</div>
										    					<div class="itour-slide-inner itour-slide-btn" style="left: 0;">
										    						
										    					</div>
										    				</div>
										    			</div>
										    		</div>
										    	</div>
										    </div>
	        			    			</div>
	        			    		</form>
	        			    	</div>
	        			    </div>
	        			</div>
					    <div class="coagent" id="kbCoagent">
					    	<ul>
					    		<li>
					    			<b></b>
					    			<a href="#" class="pdl">
					    				<b class="QQ-icon"></b>
					    				<span>QQ</span>
					    			</a>
					    			<span class="line">|</span>
					    		</li><li>
					    			<a href="#" class="pdl">
					    				<b class="weixin-icon"></b>
					    				<span>微信</span>
					    			</a>
					    		</li>
					    		<li class="extra-r">
					    			<div>
					    				<div class="regist-link">
					    					<a href="${ctxPath}/account/reg" target="_blank">
					    						<b></b>
					    						立即注册
					    					</a>
					    				</div>
					    			</div>
					    		</li>
					    	</ul>
					    </div>
					</div>
				</div>
			    <div class="login-banner i-inner">
			    	<div class="w">
			    		<div id="banner-bg" class="i-inner"></div>
			    	</div>
	            	
	            </div>
			</div>
		</div>
	   
	    
@}