<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
@include("/inc/inc.html"){}
<style>
#searchForm label {
    display: inline-block;
    width: 110px;
}
</style>
 <script type="text/javascript">
	    $(function(){
	    	  $.messager.progress('close');
	    	 initSelect($("#status"), "ACCOUNT_STATUS",true,"全部");
	    	 initSelect($("#utype"), "UTYPE",true,"全部");
	    	 initSelect($("#sex"), "SEX",true,"全部");
	    	searchFun('/quartz/queryJobList', $('#dataGrid'), getList,{'current': 1, 'size': 40,'k':'vo'});
	    })
	    
	           function getList(options) {
	    	console.log("console");
            var op = {            	
                fitColumns:false,
                fit:true,
                singleSelect:true,
                pageList:[10,40,80,200,500],
                columns:[[
                	{field:'index',title:'编号',width:60, formatter: function(val,rec,index){  
                        var op = $('#dataGrid').datagrid('options');  
                        return op.pageSize * (op.pageNumber - 1) + (index + 1);  
                     } },					
					/* {field:'triggerName',title:'triggerName',width:220},
					{field:'triggerGroup',title:'triggerGroup',width:150}, 
					{field:'jobName',title:'jobName',width:220},
					{field:'jobGroup',title:'jobGroup',width:150},*/
					{field:'jobClassName',title:'jobClassName',width:250},
					{field:'jobDescription',title:'jobDescription',width:150},
					{field:'triggerDescription',title:'triggerDescription',width:150},
					{field:'cronExpression',title:'Cron表达式 ',width:180},
					{field:'triggerState',title:'triggerState',width:180},
					{field:'prevFirtTime',title:'trigger上次触发时间',width:170,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm:ss"):"";}},
					{field:'nextFirtTime',title:'trigger下次触发时间',width:170,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm:ss"):"";}},
					{field:'startTime',title:'triggerStartTime',width:170,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm:ss"):"";}},
					/* {field:'endTime',title:'triggerEndTime',width:170,formatter: function (value, row, index){return value? new Date(value).Format("yyyy-MM-dd hh:mm:ss"):"";}},	 */			
				]], onLoadSuccess: function () {
		            $('#searchForm table').show();
		            parent.$.messager.progress('close');
		        },
                toolbar: '#toolbar',
                onSelect:function(rowIndex, rowData){
                	
                	setLinkButtonStatus([$("#pauseJob")], [0]);
                	if(rowData.triggerState!="PAUSED"){
                		setLinkButtonStatus([$("#pauseJob")], [1]);	
                	}
                	setLinkButtonStatus([$("#resumeJob")], [0]);
                	if(rowData.triggerState=="PAUSED"){
                		setLinkButtonStatus([$("#resumeJob")], [1]);	
                	}
                	
                }
            };
            return $.extend(op,options);
        }
	    function doFunction(url, node, title) {
            var row = node.datagrid('getSelections');
            if (row.length > 0) {
                parent.$.messager.confirm('询问', title, function (b) {
                    if (b) {
                        parent.$.messager.progress({title: '提示', text: '数据处理中，请稍候....'});
                        postAjax(url,JSON.stringify({jobName: row[0].jobName, jobGroup: row[0].jobGroup}),function (result) {
                        	searchFun('/quartz/queryJobList', $('#dataGrid'), getList,{'current': 1, 'size': 40,'k':'vo'});
                        });
                    }
                })
            } else {
                showErrorMsg('请选择一条数据.')
            }
        }
	    function myeditFun(title, url, dataGridNode) {
	    	console.log("wt");
        	var rows = dataGridNode.datagrid('getSelections');
            	if (rows.length < 1) {
                    showErrorMsg('请选择一条数据.');
                    return
                } else {
                    url = url + "?jobName="+rows[0].jobName
                    		+"&&jobGroup="+rows[0].jobGroup;
                }
        
            var options = getInitDialogOptions(title, url, "editFunction", "编辑");
            options.dataGridNode = dataGridNode;
            parent.$.modalDialog(options)
        }
	    </script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false" >
	    <div data-options="region:'north',title:'查询条件',split:true" style="height:80px; overflow: hidden">
	    	<form id="searchForm">
	    	   <div class="mTop10 mLeft20">
	    	   	  <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>jobClassName:</label>
	    	   	        <input type="text" placeholder=""  name="id"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>jobDescription:</label>
	    	   	        <input type="text" placeholder=""  name="uid"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>triggerDescription</label>
	    	   	        <select id="sex" name="sex"></select>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <a onclick="searchFun('/quartz/queryJobList', $('#dataGrid'), getList,{'current': 1, 'size': 40,'k':'vo'});" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
						<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearFunction('searchForm');">清空搜索条件</a>
	    	   	     </div>
	    	   	  </div>	    	   	  
	    	   	 
	    	   
			</div>	
				
			</form>
	    </div>
	    <div data-options="region:'center',title:'管理员信息',border:false,split:true">
	    	<table id="dataGrid"></table>
	    </div>
	    <div id="toolbar">	      
	      <a href="#" id="jobAdd" onclick="addFun('新增', '/quartz/jobAddP', $('#dataGrid'), {});" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>	
	      <a href="#" id="jobUpdate" onclick="myeditFun('编辑','/quartz/jobUpdateP',$('#dataGrid'))" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>      
	      <a href="#" id="pauseJob" onclick="doFunction('/quartz/pauseJob',$('#dataGrid'),'你确定要暂停该定时任务吗？')" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">暂停</a>
	      <a href="#" id="resumeJob" onclick="doFunction('/quartz/resumeJob',$('#dataGrid'),'你确定要恢复此定时任务吗？')" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">恢复</a>
	      <a href="#" id="deleteJob" onclick="doFunction('/quartz/deleteJob',$('#dataGrid'),'你确定要删除此定时任务吗？')" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">删除</a>
	      <a href="#" id="startNowJob"onclick="doFunction('/quartz/startNowJob',$('#dataGrid'),'你确定要立即执行改定时任务吗？')" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">执行</a>
	    </div>
	</div>
</body>
</html>