<script type="text/javascript">
    $(function () {
            $("#addFunction").click(function () {
                var data = $("#form").serializeJson();
                $('#form').form('validate') &&
                postAjax("/quartz/insertJob", JSON.stringify(data),
                        function(data){
                            closeDialogCallBack(data);
                        }, {async: false});
            })
   
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <form id="form" method="post">
        	<input type="hidden" name="jobGroup" id="jobGroup" value="DEFAULT" />
			<input type="hidden" name="triggerGroup" id="triggerGroup" value="DEFAULT" />
            <table class="table table-hover table-condensed" align="center">
                <tr>
                    <td class=""><span style="color:red;">*</span>job描述</td>
                    <td>
                    	<input name="jobDescription" id="jobDescription" type="text" class="span2" autocomplete="off" data-options="required:true" >
					</td>
                </tr>
                <tr>
                	<td class=""><span style="color:red;">*</span>trigger描述</td>
                    <td>
                    	<input name="triggerDescription" id="triggerDescription" type="text" class=" span2" autocomplete="off" data-options="required:true" >
					</td>
                </tr>
                <tr>
                	<td class=""><span style="color:red;">*</span>Cron表达式</td>
                    <td>
                    	<input name="cronExpression" id="cronExpression" type="text" class=" span2" autocomplete="off" data-options="required:true" >
					</td>
                </tr>
               <!--  <tr>
                	<td class="">&nbsp;&nbsp;开始时间</td>
                    <td>
                    	<input name="startTime" id="startTime" type="text" class="easyui-validatebox span2" autocomplete="off" >
					</td>
                </tr>
                <tr>
                	<td class="">&nbsp;&nbsp;结束时间</td>
                    <td>
                    	<input name="endTime" id="endTime" type="text" class=" span2" autocomplete="off" >
					</td>
                </tr> -->
                <tr>
                	<td class=""><span style="color:red;">*</span>JobClass全路径名</td>
                    <td>
                    	<input name="jobClassName" id="jobClassName" type="text" class=" span2" autocomplete="off" data-options="required:true" style="width:300px;">
					</td>
                </tr>
               <!--  <tr>
                	<td class="">&nbsp;&nbsp;job描述</td>
                    <td>
                    	<input name="jobDescription" id="jobDescription" type="text" class=" span2" autocomplete="off"  style="width:300px;">
					</td>
                </tr> -->
            </table>
        </form>
    </div>
</div>
<var style="display:none" hidden="hidden" id="action"></var>