
<div class="Modal-wrapper" style="display: none;">
			<div class="Modal-backdrop"></div>
			<div class="Modal Modal-large">
				<div class="Modal-inner">
					<h3 class="Modal-title">添加收藏</h3>
					<div class="Modal-subtitle">请选择你想添加的收藏夹</div>
					<div class="Modal-content">
						<div class="Favlists-content">
							<div class="Favlists-items">
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
								<div class="Favlists-item clearfix">
									<div class="Favlists-itemInner">
										<div class="fl">
											<div class="Favlists-itemName">
												<span class="Favlists-itemNameText">图片处理工具</span>
											</div>
											<div class="Favlists-itemContent">1条内容</div>
										</div>
										<div class="fr">
											<button type="button" class="button mt6 Favlists-updateButton Button--blue">收藏</button>
										</div>
									</div>
								</div>
							</div>
						    <div class="Favlists-actions">
						    	<button type="button" class="button Favlists-addButton button--primary button--blue">创建收藏夹</button>
						    </div>
						</div>
					</div>
				</div>
			    <button type="button" class="Button Modal-closeButton Button--plain">
			    	<span class="icon-close"></span>
			    </button>
			</div>
		</div>