<div class="Modal-wrapper" style="display: none;">
			<div class="Modal-backdrop"></div>
			<div class="Modal Modal-large">
				<div class="Modal-inner">
					<h3 class="Modal-title">创建新收藏夹</h3>
					<div class="Modal-content">
						<form class="Favlists-content">
							<div class="Favlists-addItems">
								<div class="Favlists-addItem">
									<label class="Favlists-titleInput Input-wrapper">
										<input placeholder="收藏标题" class="Input" />
									</label>
									<div class="Favlists-inputTips">
										<span class="Maxlength"></span>
									</div>
									
								</div>
							    <div class="Favlists-addItem">
							    	<label class="Favlists-descritionInput Input-wrapper Input-wrapper--multiline">
							    	  <textarea rows="5" class="Input" placeholder="收藏描述（可选）"></textarea>
							    	</label>
							    	<div class="Favlists-inputTips"><span class="MaxLength"></span></div>
							    </div>
							    <div class="Favlists-addItem">
							    	<label class="Favlists-privacyOption">
							    		<input class="Favlists-privacyOptionRadio" name="isPublic" type="radio" value="true" checked="">
							    		<span>公开</span>
							    		<span class="Favlists-privacyOptionTips">有其他人关注此收藏夹时不可设置为私密</span>
							    	</label>
							    	<label class="Favlists-privacyOption">
							    		<input class="Favlists-privacyOptionRadio" name="isPublic" type="radio" value="false">
							    		<span>私密</span>
							    		<span class="Favlists-privacyOptionTips">只有你自己可以查看这个收藏夹</span>
							    	</label>
							    </div>
							</div>
						    <div class="ModalButtonGroup ModalButtonGroup--horizontal clearfix">
						    	<button type="button" class="button button--plain button-box fl">返&nbsp;回</button>
						    	<button type="submit" class="button button--primary button--blue fr" disabled="disabled">确认创建</button>
						    </div>
						</form>
					</div>
				</div>
				
				
			    <button type="button" class="Button Modal-closeButton Button--plain">
			    	<span class="icon-close"></span>
			    </button>
			</div>
		</div>