  @if(isEmpty(mold)){
	<div class="card wechat-follow-wrap">
			   	 	     	<div class="wechat-follow-title">
			   	 	     		<span>
			   	 	     			<img class="wechat-icon" src="${ctxPath}/img/common/wechat_icon.png" height="18" />
			   	 	     			微信关注
			   	 	     		</span>
			   	 	     		
			   	 	     	</div>
			   	 	     	<div class="wechat-follow-con">
			   	 	     		<img src="${ctxPath}/img/common/qrcode.jpg" class="wechat-scan" width="96" />
			   	 	     			"爱旅行SHOW",提供优质旅行攻略，让旅行变得简单,	 有趣！			   	 	     		
			   	 	     	</div>
			   	 	     </div>
@}else{
<div class="card wechat-follow-wrap">
			   	 	     	<div class="wechat-follow-title">
			   	 	     	<span>
			   	 	     			<img class="wechat-icon" src="${ctxPath}/img/common/qq.png" height="18"  style="border-radius: 50%"/>
			   	 	     			联系我们
			   	 	     		</span>
			   	 	     		
			   	 	     	</div>
			   	 	     	<div class="wechat-follow-con">
			   	 	     		<img src="${ctxPath}/img/common/qq-group.png" class="wechat-scan" width="96" />
			   	 	     			简约而不简单,在最短的路径中寻找最佳的解决方案,省心、省时！	   	 	     		
			   	 	     	</div>
			   	 	     </div>
@}
		   	 	  