<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
@include("/inc/inc.html"){}
 <script type="text/javascript">
	    $(function(){	    	
			searchFun('/account/getGroupList', $('#dataGrid'), getList,{'current': 1, 'size': 10,'k':'vo'});
	    })
	    
	           function getList(options) {
	    	console.log("console");
            var op = {
                fitColumns:false,
                fit:true,
                singleSelect:false,
                pageList:[10,40,80,200,500],
                columns:[[
					{field:'id',title:'编号',width:100},					
					{field:'gName',title:'组名称',width:100},
					{field:'gDesc',title:'组描述',width:100},
					{field:'gParent',title:'所属组编号',width:100}
				]],
                toolbar: '#toolbar',
                onSelect:function(rowIndex, rowData){
                
                }
            };
            return $.extend(op,options);
        }
	    </script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false" >
	    <div data-options="region:'north',title:'查询条件',split:true" style="height:120px;">
	    	<form id="searchForm">
	    	   <div class="mTop10 mLeft20">
	    	   	  <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>编号:</label>
	    	   	        <input type="text" placeholder=""  name="id"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>组名称:</label>
	    	   	        <input type="text" placeholder=""  name="gName"/>
	    	   	      </div>
	    	   	  </div>
	    	   	  <div class="mTop10 line-handsome">
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>组描述:</label>
	    	   	        <input type="text" placeholder=""  name="gDesc"/>
	    	   	      </div>
	    	   	      <div class="fLeft label-handsome ">
	    	   	        <label><span></span>公司:</label>
	    	   	        <input type="text" placeholder=""  name="company"/>
	    	   	      </div>
	    	   	       <div class="fLeft label-handsome ">
	    	   	        <a onclick="searchFun('/account/getGroupList', $('#dataGrid'), getList,{'current': 1, 'size': 10,'k':'vo'});" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
						<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearFunction('searchForm');">清空搜索条件</a>
	    	   	     </div>
	    	   </div>
			</div>	
				
			</form>
	    </div>
	    <div data-options="region:'center',title:'用户管理',border:false,split:true">
	    	<table id="dataGrid"></table>
	    </div>
	    <div id="toolbar">	      
	      <a href="#" onclick="addFun('新增', '/account/groupAddP', $('#dataGrid'), {});" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">新增</a>
	      <a href="#" onclick="editFun('查看详情','/account/selectGroup?id=',$('#dataGrid'),{buttons: [],'key':'id','height':400,'width':1200})" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
	      <a href="#" onclick="editFun('角色授权','/account/groupRoleP?groupId=',$('#dataGrid'),{buttons: [{id:'groupRoleFun',text:'授权'}],'key':'id','height':700,'width':600})" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">授权</a>
	    </div>
	</div>
</body>
</html>