<!DOCTYPE html>
<style>
#container .label-handsome.w300{
width:300px;
}
#container label.w120{
width:120px;
 }
 #container label {
    width: 180px;
}
#container .label-handsome {
    width: 340px;
}
</style>
<meta charset="UTF-8">
   <div id="container" style="padding-left:23px">
    <form class="form">
       <div class="container-wrapper">
           <div class="wrapper">
              <legend><div class="legendLeft"></div>基本信息</legend>
            <div>
                <div class="mTop10 line-handsome">
                    <div class="fLeft label-handsome ">
                        <label ><span class="redSharp">* </span>银行名称：</label><input type="text"  autocomplete="off" data-options="required:true" class="easyui-validatebox" value="华瑞银行" readonly/>
                    </div>
                    <div class="fLeft label-handsome w300">
                        <label class="w120" ><span class="redSharp">* </span>企业名称：</label><input type="text" name="hymc" autocomplete="off" data-options="required:true" class="easyui-validatebox" value="" readonly/>
                    </div>
                    <div class="fLeft label-handsome">
                            <label ><span class="redSharp">* </span>统一社会信用代码：</label><input type="text" value=""  autocomplete="off" data-options="required:true" class="easyui-validatebox" readonly/>
                    </div>
                    
                </div>
                
                    <div class="mTop10 line-handsome">
                     <div class="fLeft label-handsome">
                            <label ><span class="redSharp">* </span>注册地址邮政编码：</label>
                            <input type="text" name="zipcode" autocomplete="off" data-options="required:true" class="easyui-validatebox" data-options="required:true" readonly/>
                    </div>
                        <div class="fLeft label-handsome w300">
                            <label class="w120"><span class="redSharp">* </span>企业员工数：</label><input type="text" name="paysocsecempnum" data-options="required:true" readonly   autocomplete="off" data-options="required:true" class="easyui-validatebox"/>
                        </div>
                        <div class="fLeft label-handsome ">
                            <label ><span class="redSharp">* </span>基本存款账户核准号：</label>
                           <input type="text" name="openauth" autocomplete="off" data-options="required:true" class="easyui-validatebox" data-options="required:true" readonly/>
                        </div>
                        
                    </div>
                    <div class="mTop10 line-handsome">
                    <div class="fLeft label-handsome">
                            <label ><span class="redSharp">* </span>企业成立时间：</label>
                            <input name="totasslastyearend" id="totasslastyearend" class="easyui-datebox" style="width:130px" data-options="editable:false" readonly />
                        </div>
                      
                        <div class="fLeft label-handsome w300">
                            <label class="w120"><span class="redSharp ">* </span>实缴金额：</label><input type="text" name="paidincapital" data-options="required:true" readonly autocomplete="off" data-options="required:true" class="easyui-validatebox w100"/>&nbsp;万元
                        </div>
                        <div class="fLeft label-handsomeEnd ">
                            <label ><span class="redSharp">* </span>产能预售占比：</label>
                           <input type="text" name="salrevlastyear" autocomplete="off" data-options="required:true" class="easyui-validatebox" data-options="required:true" readonly/>
                        </div>
                        
                        
                    </div>
                    <div class="mTop10 line-handsome">
                    <div class="fLeft label-handsome">
                            <label ><span class="redSharp">* </span>年销售额：</label>
                            <input type="text" name="sellsum" autocomplete="off" data-options="required:true" class="easyui-validatebox" readonly="readonly" data-options="required:true"/>&nbsp;元
                        </div>
                      
                        <div class="fLeft label-handsome w300">
                            <label class="w120"><span class="redSharp ">* </span>资产总额：</label><input type="text" name="totalassets" data-options="required:true" autocomplete="off" readonly="readonly" data-options="required:true" class="easyui-validatebox w100"/>&nbsp;元
                        </div>                     
                                                
                    </div>
            </div>
           </div>
       </div>
    </form>
       
   </div>
