<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.CollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.work.Collect">
        <id column="ID" property="id" />
        <result column="TID" property="tid" />
        <result column="CTIME" property="ctime" />
        <result column="UID" property="uid" />
        <result column="FID" property="fid" />
        <result column="STATUS" property="status" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TID, CTIME, UID, FID, STATUS
    </sql>

</mapper>
