<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.LikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.work.Like">
        <id column="ID" property="id" />
        <result column="WID" property="wid" />
        <result column="UID" property="uid" />
        <result column="CREATEDATE" property="createdate" />
        <result column="STATUS" property="status" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, WID, UID, CREATEDATE, STATUS
    </sql>
   <!-- 收藏夹列表(收藏时使用) -->
    <select id="selectLikeList" parameterType="com.itour.model.work.dto.LikeDto" resultType="com.itour.model.work.vo.LikeVo">
    	SELECT 
    	t1.*,IFNULL(t2.`STATUS`,'2') checked,IFNULL(t3.collectCount,0) collectCount 
    	FROM (
		  SELECT *FROM t_t_favorites c1 WHERE c1.UID=#{dto.uid} and c1.`STATUS`='1') t1
		  		LEFT JOIN  
		  	t_w_collect  t2 ON t1.id =t2.fid and t2.wid=#{dto.wid}
				LEFT JOIN
		 	(SELECT c.fid ,count(*) collectCount FROM t_t_collect c WHERE c.uid=#{dto.uid} and c.STATUS='1'GROUP BY c.fid) t3 ON t1.id=t3.fid
    </select>
</mapper>
