<!DOCTYPE html>
<meta charset="UTF-8">
		<!--基本的css-->
		<link rel="icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="${ctxPath}/easyui/themes/default/easyui.css">
	    <link rel="stylesheet" type="text/css" href="${ctxPath}/easyui/themes/icon.css">
	    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
	    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/util.css">
	    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style/extEasyUIIcon.css">
	    <!--基本的JS -->
	    <script type="text/javascript" src="${ctxPath}/easyui/jquery.min.js"></script>
	    <script type="text/javascript" src="${ctxPath}/easyui/jquery.easyui.min.js"></script>
	    <script type="text/javascript" src="${ctxPath}/easyui/plugins/jquery.datagrid.js"></script>
	    <script type="text/javascript" src="${ctxPath}/easyui/plugins/jquery.layout.js"></script>
	    <!--EasyUI应用中文语言包-->
    	<script type="text/javascript" src="${ctxPath}/easyui/locale/easyui-lang-zh_CN.js"></script>
    	<script type="text/javascript" src="${ctxPath}/easyui/easyui-extensions-tooltip.js"></script>
    	<script type="text/javascript" src="${ctxPath}/js/tool.js"></script>
    	<script type="text/javascript" src="${ctxPath}/js/basic.js"></script>
    	<script type="text/javascript" src="${ctxPath}/js/extEasyUI.js"></script>
    	
