html,body,div,h1,h2,h3,h4,h5,h6,a,ul,ol,li,dl,dt,dd,em,i,img,p,form,input,button,article,nav,label{
	padding: 0;
	margin: 0;
}
body{
	background: #f5f6f7;
	font-size: 15px;
	color: #121212;
	
	
}
body,button,p,ul,ol,dl,dt,dd{
	padding: 0;
	margin: 0;
}
a, button, input, textarea {
    outline: none;
}
a{
	color: inherit;
	text-decoration: none;
}
button, input, select, textarea {
    font-family: inherit;
    margin: 0;
    outline: 0;
}
button, [type="button"], [type="reset"], [type="submit"], input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}
textarea {
    resize: none;
    overflow-y: auto;
}
.clearfix{zoom:1}
.clearfix:after{
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.button{
	color:#8590a6;
}
button{
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	
}
.button{
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.button--blue{
	color: #0084FF;
	border-color: #0084FF;
}
.button--blue:hover{
	background-color: rgba(0,132,255,0.06);
}
.button--plain{
	height: auto;
	padding: 0;
	line-height: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.button--primary.button--blue {
    color: #fff;
    background-color: #0084ff;
}
li{
	list-style-type: none;
}
h1, h2, h3 {
    margin: 0;
    font: inherit;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.btn{
	display: inline-block;
	min-width: 60px;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    *line-height: 28px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.btn button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    padding: 0 22px;
}
.btn.btn_input {
    padding: 0;
}
.btn.btn_default {
    background-color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),to(#fff));
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e7e7eb;
    color: #353535;
}
.btn.btn_default:hover {
    background-color: #e7e7eb;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e7e7eb),to(#e7e7eb));
    background-image: linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #353535;
}
.btn.btn_input.btn_primary {
    background-color: #0088FF;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0088FF),to(#0088FF));
    background-image: linear-gradient(to bottom,#0088FF 0,#0088FF 100%);
    border-color: #0088FF;
    color: #fff;
}
.btn.btn_input.btn_primary:hover{
	background-color: #0077E6;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0077E6),to(#0088FF));
    background-image: linear-gradient(to bottom,#0077E6 0,#0088FF 100%);
    border-color: #0077E6;
    color: #fff;
}
.avatar{
	background: #fff;
	border-radius: 50%;
}
.input-fileUpload{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	cursor: pointer;
	opacity: 0;
	
}
@media (min-width: 690px)
.richContent.is-collapsed {
    cursor: pointer;
    -webkit-transition: color 0.14s ease-out;
    transition: color 0.14s ease-out;
}
@media (min-width: 690px)
.richContent.is-collapsed .copyrightRichText-richText {
    pointer-events: none;
}

