<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.OauthMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.Oauth">
        <id column="ID" property="id" />
        <result column="U_ID" property="uId" />
        <result column="OAUTH_ID" property="oauthId" />
        <result column="OAUTH_TYPE" property="oauthType" />
        <result column="CREDENTIAL" property="credential" />
        <result column="NICKNAME" property="nickname" />
        <result column="AVATAR" property="avatar" />
        <result column="PWD" property="pwd" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, U_ID, OAUTH_ID, OAUTH_TYPE, CREDENTIAL, NICKNAME, AVATAR, PWD
    </sql>

</mapper>
