<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.RightDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.RightDetail">
        <id column="ID" property="id" />
        <result column="URL" property="url" />
        <result column="RIGHT_NO" property="rightNo" />
        <result column="ISLOGIN" property="islogin" />
        <result column="DESC" property="desc" />
        <result column="ISLOG" property="islog" />
        
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, URL, RIGHT_NO, ISLOGIN, DESC, ISLOG
    </sql>
     <!-- 获取当前用户下的权限 -->
     <select id="getAccountRightDetial" parameterType="String" resultType="Map">
SELECT c.URL FROM t_a_right_detail  c WHERE c.RIGHT_NO in(
			SELECT r.RIGHT_ID FROM t_a_role_right r WHERE r.ROLE_ID in(
				SELECT r.ID  FROM t_a_role r WHERE r.ID in(
					SELECT ROLE_ID FROM t_a_group_role c WHERE c.GROUP_ID in(
						SELECT d.GROUP_ID FROM t_a_account_group d WHERE d.U_ID=#{uid})
						)
					)
			)or c.RIGHT_NO='-1'

</select>
</mapper>
