<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.RightMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.Right">
        <id column="ID" property="id" />
        <result column="MENU_NO" property="menuNo" />
        <result column="MENU" property="menu" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="URL" property="url" />
        <result column="M_ORDER" property="mOrder" />
        <result column="S_ORDER" property="sOrder" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MENU_NO, MENU, PARENT_ID, MENU_TYPE, URL,M_ORDER,S_ORDER
    </sql>
    <select id="getMenuList" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM t_a_right e WHERE e.MENU_NO in(SELECT d.RIGHT_ID FROM t_a_role_right d WHERE d.ROLE_ID in(SELECT c.ROLE_ID FROM t_a_group_role c WHERE c.GROUP_ID in(SELECT b.ID FROM t_a_group b WHERE b.id in(SELECT a.GROUP_ID FROM t_a_account_group a WHERE a.U_ID=#{uid}) OR b.G_PARENT IN(SELECT a.GROUP_ID FROM t_a_account_group a WHERE a.U_ID=#{uid}))))
   </select>
     <select id="authorizeRightList" parameterType="java.util.Map" resultType="Map">
    SELECT a.*,IFNULL(b.ID,'0') RRID ,IFNULL(ROLE_ID,'0') ROLE_ID, IFNULL(Right_ID,'0') Right_ID FROM t_a_right a LEFT JOIN t_a_role_right b on a.ID=b.RIGHT_ID and b.ROLE_ID=#{rid}
     </select>
</mapper>
