<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.RightDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.RightDetail">
        <id column="ID" property="id" />
        <result column="URL" property="url" />
        <result column="RIGHT_NO" property="rightNo" />
        <result column="ISLOGIN" property="islogin" />
        <result column="DESC" property="desc" />
        <result column="ISLOG" property="islog" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, URL, RIGHT_NO, ISLOGIN, DESC, ISLOG
    </sql>
     <select id="queryAccountRight" resultMap="BaseResultMap" parameterType="java.lang.String">
     SELECT <include refid="Base_Column_List"></include> FROM t_a_right_detail d WHERE d.RIGHT_NO in(select c.RIGHT_ID from t_a_role_right c WHERE c.ROLE_ID in(select b.ROLE_ID from t_a_role_group b where b.GROUP_ID in(select a.GROUP_ID from t_a_account_group a WHERE a.U_ID=#{uid})))
     </select>
</mapper>
