<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.RightMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.Right">
        <id column="ID" property="id" />
        <result column="MENU_NO" property="menuNo" />
        <result column="MENU" property="menu" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="URL" property="url" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MENU_NO, MENU, PARENT_ID, MENU_TYPE, URL
    </sql>
    <select id="getMenuList" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT<include refid="Base_Column_List"></include>  FROM `T_A_RIGHT` d WHERE d.MENU_NO IN(SELECT c.right_id FROM `t_a_role_right` c WHERE c.ROLE_ID IN(SELECT b.GROUP_ID FROM `t_a_role_group` b WHERE b.GROUP_ID IN(SELECT a.GROUP_ID FROM `t_a_account_group` a WHERE a.U_ID=#{uid})));
    </select>
</mapper>
