<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.RoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.account.Role">
        <id column="ID" property="id" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_DESC" property="roleDesc" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ROLE_NAME, ROLE_DESC
    </sql>
    <select id="queryGroupRole" resultType="map" parameterType="java.lang.Integer">
     SELECT c.ID,c.ROLE_DESC,c.ROLE_DESC,IFNULL(d.GROUP_ID,'0') GROUP_ID,d.ID grNo FROM t_a_role c LEFT JOIN t_a_group_role d on c.ID= d.ROLE_ID and d.GROUP_ID=#{gid};
   </select>
    <!-- 获取当前用户下的角色 -->
   <select id="getAccountRoleName" parameterType="String" resultType="Map">
SELECT r.ROLE_NAME  FROM t_a_role r WHERE r.ID in(SELECT ROLE_ID FROM t_a_group_role c WHERE c.GROUP_ID in(SELECT d.GROUP_ID FROM t_a_account_group d WHERE d.U_ID=#{uid}))
   </select>
</mapper>
