<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${title}</title>
<link rel="icon" href="${ctxPath}/img/favicon.ico" />
<link rel="stylesheet" href="${ctxPath}/css/common/common.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/index.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/style.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/modal.css" />
<script type="text/javascript" src="${ctxPath}/js/common/jquery-3.4.1.js.js"></script>
<script type="text/javascript" src="${ctxPath}/js/common/jquery.serializejson.min.js"></script>
<script type="text/javascript">var ctxPath = "${ctxPath}";</script>
<script type="text/javascript" src="${ctxPath}/js/common/tool.js" ></script>
<script type="text/javascript" src="${ctxPath}/js/common/public.js" ></script>
<script type="text/javascript" src="${ctxPath}/js/common/index.js" ></script>
<script type="text/javascript" src="${ctxPath}/js/common/modal.js" ></script>
</head>
<body>
@include("header/header.html"){}
${layoutContent}
@include("footer/footer.html"){}
</body>
</html>