 <div class="dialog-wrapper">
		 	<div class="weui-desktop-dialog__wrp article_tags_dialog js_article_tags_dialog">
		 		<div class="weui-desktop-dialog" style="width: 600px;">
		 			<div class="weui-desktop-dialog__hd">
		 				<h3 class="weui-desktop-dialog__title">分类专栏</h3>
		 				<button type="button" class="weui-desktop-icon-btn weui-desktop-dialog__close-btn">
		 					<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M10.01 8.996l7.922-7.922c.086-.086.085-.21.008-.289l-.73-.73c-.075-.074-.208-.075-.29.007L9 7.984 1.077.062C.995-.02.863-.019.788.055l-.73.73c-.078.078-.079.203.007.29l7.922 7.92-7.922 7.922c-.086.086-.085.212-.007.29l.73.73c.075.074.207.074.29-.008l7.92-7.921 7.922 7.921c.082.082.215.082.29.008l.73-.73c.077-.078.078-.204-.008-.29l-7.921-7.921z"></path></svg>
		 				</button>
		 			</div>
		 		    <div class="weui-desktop-dialog__bd">
		 		    	<div class="article_tags_dialog_inner">
		 		    		<form onsubmit="return false;">
		 		    			<div class="weui-desktop-form__control-group">
		 		    				<label class="weui-desktop-form__label">专栏</label>
		 		    				<div class="weui-desktop-form__controls">
		 		    					<div class="tags_input_wrap js_not_hide_similar_tags">
		 		    						<div>
		 		    						  <div class="weui-desktop-form-tag-control">
		 		    						  	 <span class="weui-desktop-form-tag__area">
		 		    						  	 	<span class="weui-desktop-form__input-append-in">
		 		    						  	 		<em class="weui-desktop-form__counter">0/16</em>
		 		    						  	 	</span>		 		    						  	 	
		 		    						  	 	 <span class="weui-desktop-form-tag__wrp">
		 		    						  	 	 	<span class="weui-desktop-form-tag" style="display: none;">
		 		    						  	 	 		<i class="weui-desktop-form-tag__name">深圳周末旅行攻略</i>
		 		    						  	 	 		<button type="button" class="weui-desktop-opr-btn weui-desktop-opr-btn_close"></button>
		 		    						  	 	 	</span>
		 		    						  	 	 	<span class="weui-desktop-form-tag" style="display: none;">
		 		    						  	 	 		<i class="weui-desktop-form-tag__name">张家界周末最佳旅行攻略</i>
		 		    						  	 	 		<button type="button" class="weui-desktop-opr-btn weui-desktop-opr-btn_close"></button>
		 		    						  	 	 	</span>
		 		    						  	 	 	<span class="weui-desktop-form-tag" style="display: none;">
		 		    						  	 	 		<i class="weui-desktop-form-tag__name">崇明岛周末旅行攻略崇明岛周末旅行</i>
		 		    						  	 	 		<button type="button" class="weui-desktop-opr-btn weui-desktop-opr-btn_close"></button>
		 		    						  	 	 	</span>
		 		    						  	 	 	
			 		    						  	 	<input type="text"placeholder="请输入专栏，按回车分割" class="weui-desktop-form-tag__input" />
			 		    						  	 </span>
		 		    						  	 	<label class="weui-desktop-form-tag__input__label"></label>
		 		    						  	 </span>
		 		    						  	
		 		    						  	 
		 		    						  </div>
		 		    						</div>
		 		    					    <div class="weui-desktop-dropdown-menu article_tags_sug" style="display: none;">
		 		    					    	<div class="article_tags_sug_tips">创建专栏</div>
		 		    					    	<ul class="weui-desktop-dropdown__list">
		 		    					    		<li class="weui-desktop-dropdown__list-ele">
		 		    					    			<div class="weui-desktop-dropdown__list-ele-contain">上海旅行</div>
		 		    					    		</li>
		 		    					    	</ul>
		 		    					    </div>
		 		    					</div>
		 		    					<div class="weui-desktop-form__tips">
		 		    						<p>最多三个，设置后方便管理文章</p>
		 		    					</div>
		 		    				</div>
		 		    			</div>
		 		    			<div class="weui-desktop-form__control-group">
		 		    				<label class="weui-desktop-form__label"></label>
		 		    				<div class="weui-desktop-form__controls">
		 		    					<div class="article_tags_history">
		 		    						<div class="article_tags_history_hd">
		 		    							<h4>历史专栏</h4>
		 		    						</div>
		 		    						<div class="article_tags_history_bd">
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value=""  disabled="disabled"/>
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">上海旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">广州旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">杭州旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">南京旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">云南旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">苏州旅行</span>
		 		    							</label>
		 		    							<label class="weui-desktop-form__check-label">
		 		    								<input type="checkbox" class="weui-desktop-form__checkbox" value="" />
		 		    								<i class="weui-desktop-icon-checkbox"></i>
		 		    								<span class="weui-desktop-form__check-content">北京旅行</span>
		 		    							</label>
		 		    						</div>
		 		    					</div>
		 		    				</div>
		 		    			</div>
		 		    		</form>
		 		    	</div>
		 		    </div>
		 		    <div class="weui-desktop-dialog__ft">
		 		    	<div class="weui-desktop-btn_wrp">
		 		    		<button type="button" class="weui-desktop-btn weui-desktop-btn_primary weui-desktop-btn_disabled">确定</button>
		 		    	</div>
		 		    	<div class="weui-desktop-btn_wrp">
		 		    		<button class="weui-desktop-btn weui-desktop-btn_default">取消</button>
		 		    	</div>
		 		    </div>
		 		</div>
		 	</div>
		 	<div class="weui-desktop-mask"></div>
		 </div>