 @#ajax commentReply :{
<div class="comment-box comment-edit-box">
<div class="user-img">
	<img  class="avatar" src="${ctxPath}/img/common/avatar-1.jpg" width="24" height="24">
</div>
   <form id="commentformNew">
       <div id="ctn-mask" onclick="closeMask()" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0;top: 0;z-index: 8999;display: none" ></div>
   	<textarea class="comment-content" id="comment_contentNew" maxlength="1200"placeholder="回复：王天三"></textarea>
   	<div class="opt-box">
   		<input type="hidden" id="comment_replyIdNew" />
   		<input type="hidden" id="article_idNew" />
   		<input type="hidden" id="comment_userIdNew" />
   		<input type="hidden" id="commentIdNew" />
   		<div class="right-box right-box-new">
   			<span id="tip_commentNew" class="tip">
   				还能输入
   				<em>1200</em>
   				个字符
   			</span>	
   			<input type="button" class="btn btn-sm btn-cancel" value="取消评论" >
   			<input type="button" class="btn btn-sm btn-comment" value="发表评论"  onclick="commentRely()">
    		</div>
    		
    	</div>
    </form>
</div>
<script>
function commentRely(){
	//评论文章编号
	var tid = $("#article_id").val();
	//评论人的编号
	var comment_userId = $("#comment_userId").val();
	//评论内容
	var comment_content = $("#comment_content").val();
	if($.isEmpty(comment_content)){
		outMsg("请填写回复内容");
		return;
	}
	var data={"tid":tid,"uid":comment_userId,"comment":comment_content};
	postAjax("/travel/insertCommentReply", JSON.stringify(data), function (result) {
		$("#comment_contentNew").val("");
		outMsg("回复成功,审核后显示");
    }, {errorFunction:function(result){
    	console.log(result);
    },cache: false, async: false});
}
</script>
@}