@layout("/layout/template.html",{title:'爱旅行-详情'}){
   <style>
   .richContent .richContent-inner {
     max-height: none;
}</style>
<style>
 .Pagination {
    padding: 16px 20px;
    text-align: center;
    margin: 0 auto;
}
.CommentsV2-pagination {
    border-top: 1px solid #ebebeb;
}
.PaginationButton {
    color: #121212;
    -webkit-transition: color .2s;
    transition: color .2s;
    padding: 0 15px;
}
</style>
<script type="text/javascript" src="${ctxPath}/js/travel/detail.js" ></script>


@var uid=user.uId!;
	    <input type="hidden" id="tid" value="${id}">
	    <input type="hidden" id="order" value="1">
		<div id="ct-out" style="width: 100%;position: fixed; left: 0;bottom: 10%;text-align: center;z-index: 9000;display: none">
			<span id="ct-outContent" style="display: inline-block;background:rgb(67,116,240);color:rgb(255, 255, 255);max-width:80%;padding:8px 24px;border-radius: 4px;font-size: 16px;">请填写评论内容</span>
		</div>
		<div id="itour-main">
	    	<div class="topstory">
	    		<div class="topstory-container">
	    			<div class="topstory-mainColunm">
	    				<div class="topstory-content topstory-mainColumnCard">
	    					<div class="card storyCard">
	    						<div class="contentItem storyItem-isAnswer">
	    							<div class="contentItem-meta">
	    								<div class="authorInfo-wrap mb-1">
	    									<a href="#" target="_blank" class="align-items-centers">
	    										<span class="mr-2">
	    										    @if(isEmpty(travelInfo.avatar)){
	    										    <img class="high-rank-use" src="${ctxPath}/img/common/avatar-5.webp" width="32" height="32" />
	    										    @}else{
	    										    <img class="high-rank-use" src="${travelInfo.avatar}" width="32" height="32" />
	    										    @}
	    										</span>
		    									
		    									<storng>${travelInfo.nickname}</storng>
	    									</a>
	    								</div>	    								
	    							</div>
	    							<h1 class="mb-1 h1">${travelInfo.title}</h1>
	    							<div class="article_tags">
	    								<div class="tags">
	    								   @for(tag in tagList){
	    								   <a href="#" class="tag article_tag">${tag.tag}</a>
	    								   @}
	    									
	    								</div>
	    								<div class="text-secondary">
	    									阅读 
	    									@if(travelInfo.readCount>0){
	    									  ${travelInfo.readCount}
	    									@}
	    									<span class="split-dot"></span>
	    									<span class="datePublished">
	    									 @if(isNotEmpty(travelInfo.updatetime)){
	    									        最后发布于 ${travelInfo.updatetime,dateFormat='yyyy-MM-dd HH:mm'}
	    									 @}else{
	    									         发布于 ${travelInfo.publishtime,dateFormat='yyyy-MM-dd HH:mm'}
	    									 @}
	    									</span>
	    								</div>
	    								
	    								
	    							</div>
	    							<article class="richContent">
	    								<div class="richContent-inner">
	    								   @if(travelInfo.type=='2'){
	    								   ${weekinfo.weekContent!}
	    								   @}
	    									
	    								</div>
	    								<div class="contentItem-actions sticky richContent-actions is-fixed is-bottom travel_area">
	    									<button class="button contentItem-action button--plain button--withIcon button--withLabel travel_nice_btn" tid="${travelInfo.id}">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarThumbUp.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarThumbUpactive.png" width="22" height="22" style="display: none;">	
												</span>
												赞
												@if(travelInfo.niceCount>0){
												  ${travelInfo.niceCount}
												@}
												
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarComment.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarCommentactive.png" width="22" height="22" style="display: none;">	
												</span>
												评论
												@if(travelInfo.commentCount>0){
												 ${travelInfo.commentCount}
												 @}
											</button>
											<!-- <button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarShare.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarShareactive.png" width="22" height="22" style="display: none;">	
												</span>
												分享
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarCollect.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarCollectionActive.png" width="22" height="22" style="display: none;">	
												</span>
												收藏 600
											</button> -->
											
											@if(uid==travelInfo.uid){
												<button class="button contentItem-action button--plain button--withIcon button--withLabel travel_edit_btn">
													<span style="display: inline-flex; align-items: center;">​
													<img class="isdefault" src="${ctxPath}/img/common/edit.png" width="22" height="22">
													<img class="isactive" src="${ctxPath}/img/common/editactive.png" width="22" height="22" style="display: none;">	
													</span>
													  编辑
												</button>
											@}else{
												<!-- <button class="button contentItem-action button--plain button--withIcon button--withLabel">
													<span style="display: inline-flex; align-items: center;">​
													<img class="isdefault" src="${ctxPath}/img/common/tobarReport.png" width="22" height="22">
													<img class="isactive" src="${ctxPath}/img/common/tobarReportactive.png" width="22" height="22" style="display: none;">	
													</span>
													举报
												</button> -->
											@}
											
	    								</div>
	    							</article>
	    						</div>
	    				
	    					</div>
	    				
	    				</div>
	    			    <div  id="comment-container">
							
						</div>
	    			</div>
	    			<div class="globalSideBar">
	    				 @include("/layout/public/wechat-follow.html"){}
	    			</div>
	    		</div>
		    </div>
	    </div>	
	    
@}
