@layout("/layout/template.html",{title:'爱旅行-详情'}){
   <style>
   .richContent .richContent-inner {
     max-height: none;
}</style>
<script type="text/javascript" src="${ctxPath}/js/travel/detail.js" ></script>

@var uid=user.uId!;
	    
		<div id="ct-out" style="width: 100%;position: fixed; left: 0;bottom: 10%;text-align: center;z-index: 9000;display: none">
			<span id="ct-outContent" style="display: inline-block;background:rgb(67,116,240);color:rgb(255, 255, 255);max-width:80%;padding:8px 24px;border-radius: 4px;font-size: 16px;">请填写评论内容</span>
		</div>
		<div id="itour-main">
	    	<div class="topstory">
	    		<div class="topstory-container">
	    			<div class="topstory-mainColunm">
	    				<div class="topstory-content topstory-mainColumnCard">
	    					<div class="card storyCard">
	    						<div class="contentItem storyItem-isAnswer">
	    							<div class="contentItem-meta">
	    								<div class="authorInfo-wrap mb-1">
	    									<a href="#" target="_blank" class="align-items-centers">
	    										<span class="mr-2">
	    										    @if(isEmpty(travelInfo.avatar)){
	    										    <img class="high-rank-use" src="${ctxPath}/img/common/avatar-5.webp" width="32" height="32" />
	    										    @}else{
	    										    <img class="high-rank-use" src="${travelInfo.avatar}" width="32" height="32" />
	    										    @}
	    										</span>
		    									
		    									<storng>${travelInfo.nickname}</storng>
	    									</a>
	    								</div>	    								
	    							</div>
	    							<h1 class="mb-1 h1">${travelInfo.title}</h1>
	    							<div class="article_tags">
	    								<div class="tags">
	    								   @for(tag in tagList){
	    								   <a href="#" class="tag article_tag">${tag.tag}</a>
	    								   @}
	    									
	    								</div>
	    								<div class="text-secondary">
	    									阅读 
	    									@if(travelInfo.readCount>0){
	    									  ${travelInfo.readCount}
	    									@}
	    									<span class="split-dot"></span>
	    									<span class="datePublished">发布于 ${travelInfo.publishtime,dateFormat='yyyy-MM-dd HH:mm'}</span>
	    								</div>
	    								
	    								
	    							</div>
	    							<article class="richContent">
	    								<div class="richContent-inner">
	    								   @if(travelInfo.type=='2'){
	    								   ${weekinfo.weekContent!}
	    								   @}
	    									
	    								</div>
	    								<div class="contentItem-actions sticky richContent-actions is-fixed is-bottom">
	    									<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarThumbUp.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarThumbUpactive.png" width="22" height="22" style="display: none;">	
												</span>
												赞
												@if(travelInfo.niceCount>0){
												  ${travelInfo.niceCount}
												@}
												
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarComment.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarCommentactive.png" width="22" height="22" style="display: none;">	
												</span>
												评论
												@if(travelInfo.commentCount>0){
												 ${travelInfo.commentCount}
												 @}
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarShare.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarShareactive.png" width="22" height="22" style="display: none;">	
												</span>
												分享
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarCollect.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarCollectionActive.png" width="22" height="22" style="display: none;">	
												</span>
												收藏 600
											</button>
											<button class="button contentItem-action button--plain button--withIcon button--withLabel">
												<span style="display: inline-flex; align-items: center;">​
												<img class="isdefault" src="${ctxPath}/img/common/tobarReport.png" width="22" height="22">
												<img class="isactive" src="${ctxPath}/img/common/tobarReportactive.png" width="22" height="22" style="display: none;">	
												</span>
												举报
											</button>
	    								</div>
	    							</article>
	    						</div>
	    				
	    					</div>
	    				
	    				</div>
	    			    <div class="comments-container comment-container">
							<div class="commentsV2 commentsV2--withEditor commentsV2-withPagination">
								<div class="topbar commentTopbar">
									<div class="topbar-title">
										<h2 class="commentTopbar-tile">
										@if(travelInfo.commentCount>0){
										  ${travelInfo.commentCount}条评论
										@}else{
										  还没用评论
										@}
										</h2>
									</div>
									@if(travelInfo.commentCount>0){
									<div class="topbar-options">
										<button type="button" class="button button--plain button--withIcon button--withLabel">
											<span style="display: inline-flex;align-items: center;">
												<svg class="Zi Zi--Switch button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M13.004 7V4.232c0-.405.35-.733.781-.733.183 0 .36.06.501.17l6.437 5.033c.331.26.376.722.1 1.033a.803.803 0 0 1-.601.264H2.75a.75.75 0 0 1-.75-.75V7.75A.75.75 0 0 1 2.75 7h10.254zm-1.997 9.999v2.768c0 .405-.35.733-.782.733a.814.814 0 0 1-.5-.17l-6.437-5.034a.702.702 0 0 1-.1-1.032.803.803 0 0 1 .6-.264H21.25a.75.75 0 0 1 .75.75v1.499a.75.75 0 0 1-.75.75H11.007z" fill-rule="evenodd"></path></svg>
											</span>
											切换为时间排序
										</button>
									</div>
									@}
								</div>
								<div>
									<div class="comment-box comment-edit-box">
										<div class="user-img">
										 @if(isEmpty(travelInfo.avatar)){
   										    <img class="avatar" src="${ctxPath}/img/common/avatar-5.webp" width="24" height="24" />
   										 @}else{
   										    <img class="avatar" src="${travelInfo.avatar}" width="24" height="24" />
   										 @}
											
										</div>
									    <form id="comment-form">
									        <div id="ct-mask" onclick="closeMask()" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0;top: 0;z-index: 8999;display: none" ></div>
									    	<textarea class="comment-content" id="comment_content" maxlength="1200"placeholder="快来写下你的评论..."></textarea>
									    	<div class="opt-box">
									    		<input type="hidden" id="comment_replyId" />
									    		<input type="hidden" id="article_id" value="${id}"/>
									    		<input type="hidden" id="comment_userId" value="${uid!}"/>
									    		<input type="hidden" id="commentId" />
									    		<div class="right-box">
									    			<span id="tip_comment" class="tip">
									    				还能输入
									    				<em>1200</em>
									    				个字符
									    			</span>									    			
									    			<a href="javascript:void(0);">
									    				<input type="button" class="btn btn-sm btn-comment" value="发表评论" onclick="comment()" >
									    			</a>
									    		</div>
									    		
									    	</div>
									    </form>
									</div>
								</div>
								<div>
									<div class="commentListV2">
										@for(c in commentList){
										<ul class="nestComment">
											<li class="nestComment--rootComment">
												<div class="commentItemV2">
													<div>
														<div class="commentItemV2-meta">
															<span class="userLink commentItemV2-avatar">
																<div class="popover">
																	<div id="popover35-toggle">
																		<a class="userLink-link">
																		@if(isEmpty(travelInfo.avatar)){
								   										    <img class="avatar userLink-avatar" src="${ctxPath}/img/common/avatar-5.webp" width="24" height="24" />
								   										 @}else{
								   										    <img class="avatar userLink-avatar" src="${travelInfo.avatar}" width="24" height="24" />
								   										 @}
																			
																		</a>
																	</div>
																</div>
															</span>
														    <span class="userLink">
														    	<a  class="userLink-link" href="#">${c.nickname}</a>
														    </span>
														    <span class="commentItemV2-time">${c.ctime,dateFormat='yyyy-MM-dd'}</span>
														</div>
														<div class="commentItemV2-metaSibling">
															<div class="commentRichText commentItemV2-content">
																<div class="richText ztext">
																	${c.comment}
																</div>
															</div>
															<div class="commentItemV2-footer">
																<button type="button" class="button commentItemV2-likeBtn button--plain">
																	<span style="display: inline-flex; align-items: center;vertical-align: top;">
																		<img class="isdefault" src="${ctxPath}/img/common/tobarThumbUp.png" width="22" height="22">
																		<img class="isactive" src="${ctxPath}/img/common/tobarThumbUpactive.png" width="22" height="22" style="display: none;">
																	</span>44	
																</button>
																@if(uid!=c.uid){
																<button type="button" class="button commentItemV2-likeBtn button--plain commentRely">
																	<span>
																	</span>
																	回复
																</button>
																@}
																@if(uid==c.uid){
																<button type="button" class="button commentItemV2-likeBtn button--plain delete_comment_btn" cid="${c.id}">
																	<span>
																	</span>
																	删除
																</button>
																@}
																<button type="button" class="button commentItemV2-likeBtn button--plain">
																	<span>
																	</span>
																	举报
																</button>
																
															</div>
														  
														</div>
													</div>
												</div>
											</li>
											@for(r in c.vCommentReplyList){
											@var index=rLP.index;
										    <li class="nestComment--child ${index>2?'hide':''}">
										    	<div class="commentItemV2">
										    		<div>
										    			<div class="commentItemV2-meta">
										    				<span class="userLink commentItemV2-avatar">
										    					<div class="popover">
										    						<div id="popover36-toggle">
										    							<a href="#" class="userLink-link">
										    							    @if(isEmpty(travelInfo.avatar)){
									   										    <img class="avatar userLink-avatar" src="${ctxPath}/img/common/avatar-5.webp" width="24" height="24" />
									   										 @}else{
									   										    <img class="avatar userLink-avatar" src="${travelInfo.avatar}" width="24" height="24"/>
									   										 @}
										    								
										    							</a>
										    						</div>
										    					</div>
										    				</span>
										    				<span class="userLink">
										    					<a  class="userLink-link" href="#">${r.fromNickname}</a>
										    				</span>
										    				<span class="commentItemV2-reply">回复</span>
										    				<span class="userLink">
										    					<a  class="userLink-link" href="#">${r.toNickname}</a>
										    				</span>
										    				<span class="commentItemV2-time">${r.rtime,dateFormat='yyyy-MM-dd'}</span>
										    			</div>
										    			<div class="commentItemV2-metaSibling">
										    				<div class="commentRichText commentItemV2-content">
										    					<div class="richText ztext">${r.reply}</div>
										    				</div>
										    				<div class="commentItemV2-footer">
										    					<button type="button" class="button commentItemV2-likeBtn button--plain">
																	<span style="display: inline-flex; align-items: center;vertical-align: top;">
																		<img class="isdefault" src="${ctxPath}/img/common/tobarThumbUp.png" width="22" height="22">
																		<img class="isactive" src="${ctxPath}/img/common/tobarThumbUpactive.png" width="22" height="22" style="display: none;">
																	</span>44	
																	
																</button>
																@if(uid!=r.fromUid){
																<button type="button" class="button commentItemV2-likeBtn button--plain commentRely" comment_id="${r.commentId}" from_uid="${uid!}" to_uid="${r.fromUid}" to_nickName=${r.fromNickname}>
																	<span>
																	</span>
																	回复
																</button>
																@}
																@if(uid==r.fromUid){
																<button type="button" class="button commentItemV2-likeBtn button--plain del-commentRely-btn" rid="${r.id}">
																	<span>
																	</span>
																	删除
																</button>
																@}
																<button type="button" class="button commentItemV2-likeBtn button--plain">
																	<span>
																	</span>
																	举报
																</button>
										    				</div>
										    			</div>
										    		</div>
										    	</div>
										    </li>
										    @}
										    @if(c.vCommentReplyList.~size>2){
										    <div>
										    	<div class="commentMoreReplyButton">
										    		<button type="button" class="button button--plain commentMore_btn">查看全部 ${c.vCommentReplyList.~size} 条回复</button>
										    	</div>
										    </div>
										    @}
										</ul>
										@}
										
									</div>
								</div>
								
							</div>
						</div>
	    			</div>
	    			<div class="globalSideBar">
	    				 @include("/layout/public/wechat-follow.html"){}
	    			</div>
	    		</div>
		    </div>
	    </div>	
	    
@}
