@layout("/layout/template.html",{title:'爱旅行-写文章'}){
		<link rel="stylesheet" href="${ctxPath}/md/css/editormd.min.css" />
		<script type="text/javascript" src="${ctxPath}/md/editormd.min.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/common/jquery.form.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/travel/info.js" ></script>
		<style>
		#footer{
			display: none;
		}
		</style>
	</head>
	<body id="top0">
	    <div id="tag-container"></div>
	    <div id="column-container"></div>
		<article >
			<div class="article-container" >
				<!--标题-->
				<div class="article-title-wrp">
						<input class="article-title-text" type="text" placeholder="请输入标题"/>
						<span class="suffix">0/100</span>
				</div>
				<!--编辑器-->
				<div  class="edit-mod-container">
				  <div id="edit-md-area"></div>	
				</div>			
			</div>
			
		</article>
	    <!--原创设置-->
		<div id="article_setting_area" class="appsmg-editor__after-area setttings-container">
			<div id="js_cover_description_area" class="appmsg-editor__setting-group">
				<div class="setting-group__title">封面和摘要</div>
				<div class="setting-group__content setting-group__content_main">
					<div id="js_cover_area" class="setting-group__cover setting-group__cover_primary">
						<div class="select-cover__btn js_cover_btn_area">
							<i class="icon-add_css"></i>
							<span class="btn-text">选择封面</span>
							<form id="form_upload" method="post"  enctype="multipart/form-data" >
							<input type="file" name="file" class="input-fileUpload" onchange="upload_file()"/>
							</form>							
							<input type="hidden" id="input-fileUpload-path">
						</div>
					</div>
					<div id="js_description_area" class="setting-group__abstract js_desc_area">
						<span class="frm_textarea_box with_counter counter_in append count">
							<textarea id="js_description" placeholder="选填，摘要会在订阅号消息、转发链接等文章外的场景显露，帮助读者快速了解内容，如不填写则默认抓取正文前54字" class="frm_textarea js_desc js_counter js_field" name="digest" max-length="120"></textarea>
							<em class="frm_input_append frm_counter">0/120</em>
						</span>
					</div>
				</div>
				<div class="frm_msg fail js_cover_error js_error_msg" style="display: block;">必须插入一张图片</div>
			</div>
		     <!--原创声明--->
		    <div id="js_original" class="appmsg-editor__setting-group">
		    	<div class="setting-group__title">原创声明</div>
		    	<!--未声明原创-->
		    	<div class="setting-group__content js_original_type" style="display: block;">
	                <div class="setting-group__switch">
	                  <label class="weui-desktop-switch">
	                    <input class="weui-desktop-switch__input js_original_apply js_ori_setting_checkbox" type="checkbox">
	                    <input type="hidden" id="ori-setting">
	                    <div class="weui-desktop-switch__box"></div>
	                  </label>
	                  <div>未声明原创</div>
	                </div>
	            </div>
	            
		    </div>
		    <div id="article_setting_area2" class="appmsg-editor__setting-group">
		    	<div class="setting-group__title" id="article_type_setting">文章设置</div>
		    	<div class="setting-group__content">
		    		<div id="js_article_tags_area" class="setting-group__checkbox-item">
		    			<label class="frm_checkbox_label" return="false">
		    				<input type="checkbox" class="frm_checkbox js_article_tags">
		    				<i class="icon_checkbox"></i>
		    				<div class="allow_click_opr js_article_tags_label">
		    					<span class="lbl_content">话题标签</span>
		    					<i class="lbl_content_after read-more__icon__more"></i>
		    					<span class="lbl_content_after lbl_content_desc js_article_tags_content">最多可以指定三个标签</span>
		    				</div>
		    			</label>
		    		</div>
		    	    <div id="js_article_option_area" class="setting-group__checkbox-item">
		    	    	<label class="frm_checkbox_label">
		    	    		<input type="checkbox" class="frm_checkbox" />
		    	    		<i class="icon_checkbox js_option_checkbox_icon"></i>
		    	    		<div class="allow_click_opr js_article_option_allow_click">
		    	    			<span class="lbl_content">分类专栏</span>
		    	    			<i class="lbl_content_after read-more__icon__more"></i>
		    	    			<span class="lbl_content_after lbl_content_desc lbl_content_desc_url article_url_setting">最多可以设置三个分类专栏</span>
		    	    		</div>
		    	    	</label>
		    	    </div>
		    	</div>
		    </div>
		
		</div>
		<div class="tool-bar-wrapper">
			<div id="bottom_main" class="tool_area_wrp">
				<div class="js_bot_bar tool_area">
					<div class="tool_bar">
						<div class="tool_bar_extend_left">
							<span id="word_count_container" class="fold_tips">
								正文字数
								<span  class="fold_tips_value">0</span>
							</span>
							<span class="js_fold fold_tips fold_tips_scrolltop">
								<a class="tool_bar__fold-btn ">回到顶部</a>
							</span>
						</div>
						<span id="js_send" class="btn btn_input btn_default fr">
							<button type="button">保存草稿</button>
						</span>
						<span id="js_preview" class="btn btn_input btn_default fr no_extra">
							<button type="button">预览</button>
						</span>
						<span id="js_submit" class="btn btn_input btn_primary fr">
							<button type="button">保存</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		
@}
