@layout("/layout/template.html",{title:'爱旅行-写文章'}){
		<link rel="stylesheet" href="${ctxPath}/md/css/editormd.min.css" />
		<script type="text/javascript" src="${ctxPath}/md/editormd.min.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/common/jquery.form.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/travel/info.js" ></script>
		<style>
		#footer{
			display: none;
		}
		.select-cover__loading__mask {
		    z-index: 2;
		    visibility: hidden;
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-pack: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    align-items: center;
		    background-color: rgba(0,0,0,0.2);
		    -webkit-transition: all .1s;
		    transition: all .1s;
		}
		.weui-desktop-loading {
	    display: inline-block;
	    vertical-align: middle;
	    width: 32px;
	    height: 32px;
	    font-size: 0;
	    color: transparent;
	    background: transparent url(data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='94.087%25' y1='0%25' x2='94.087%25' y2='90.559%25' id='a'%3E%3Cstop stop-color='%23606060' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23606060' stop-opacity='.3' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='100%25' y1='8.674%25' y2='90.629%25' id='b'%3E%3Cstop stop-color='%23606060' offset='0%25'/%3E%3Cstop stop-color='%23606060' stop-opacity='.3' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' opacity='.9'%3E%3Cpath d='M40 0c22.091 0 40 17.909 40 40S62.091 80 40 80v-7c18.225 0 33-14.775 33-33S58.225 7 40 7V0z' fill='url(%23a)'/%3E%3Cpath d='M40 0v7C21.775 7 7 21.775 7 40s14.775 33 33 33v7C17.909 80 0 62.091 0 40S17.909 0 40 0z' fill='url(%23b)'/%3E%3Ccircle fill='%23606060' cx='40.5' cy='3.5' r='3.5'/%3E%3C/g%3E%3C/svg%3E) no-repeat 0 0;
	    animation: weuiDesktopLoading 1s linear infinite;
	    background-size: 100%;
	}
	.select-cover__loading__mask .select-cover__loading {
	    width: 20px;
	    height: 20px;
	}
	.select-cover__preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.cover__preview__mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.icon20_common {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}
.icon20_common.edit_media_white {
    background: url(${ctxPath}/img/common/media_cps_z49d030.png) 0 -1933px no-repeat;
}
		</style>
	</head>
	<body id="top0">
	    <div id="tag-container"></div>
	    <div id="column-container"></div>
		<article >
			<div class="article-container" >
				<!--标题-->
				<div class="article-title-wrp">
						<input class="article-title-text" type="text" placeholder="请输入标题"/>
						<span class="suffix">0/100</span>
				</div>
				<!--编辑器-->
				<div  class="edit-mod-container">
				  <div id="edit-md-area"></div>	
				</div>			
			</div>
			
		</article>
	    <!--原创设置-->
		<div id="article_setting_area" class="appsmg-editor__after-area setttings-container">
			<div id="js_cover_description_area" class="appmsg-editor__setting-group">
				<div class="setting-group__title">封面和摘要</div>
				<div class="setting-group__content setting-group__content_main">
					<div id="js_cover_area" class="setting-group__cover setting-group__cover_primary">
						<div class="select-cover__btn js_cover_btn_area">
							<i class="icon-add_css"></i>
							<span class="btn-text">选择封面</span>
							<form id="form_upload" method="post"  enctype="multipart/form-data" >
							<input type="file" name="file" class="input-fileUpload" onchange="upload_file()"/>
							</form>							
						</div>
						 <!-- 封面加载之前的loading状态 -->
						<div class="select-cover__loading__mask js_cover_loading">
                          <i class="select-cover__loading weui-desktop-loading"></i>
                        </div>
                        <!-- 默认隐藏,选择图片后显示 -->
                        <div class="select-cover__preview js_cover_preview first_appmsg_cover" style="display: none;">
                        	<div class="select-cover__preview__mask js_cover_btn_area">
                                <a href="javascript:;" class="icon20_common edit_media_white js_modifyCover" onclick="return false;">修改</a>
                            </div>
                            <input type="hidden" id="input-fileUpload-path">
                        </div>
					</div>
					<div id="js_description_area" class="setting-group__abstract js_desc_area">
						<span class="frm_textarea_box with_counter counter_in append count">
							<textarea id="js_description" placeholder="选填，摘要会在订阅号消息、转发链接等文章外的场景显露，帮助读者快速了解内容，如不填写则默认抓取正文前54字" class="frm_textarea js_desc js_counter js_field" name="digest" max-length="120"></textarea>
							<em class="frm_input_append frm_counter">0/120</em>
						</span>
					</div>
				</div>
				<div class="frm_msg fail js_cover_error js_error_msg" style="display: block;">必须插入一张图片</div>
			</div>
		     <!--原创声明--->
		    <div id="js_original" class="appmsg-editor__setting-group">
		    	<div class="setting-group__title">原创声明</div>
		    	<!--未声明原创-->
		    	<div class="setting-group__content js_original_type" style="display: block;">
	                <div class="setting-group__switch">
	                  <label class="weui-desktop-switch">
	                    <input class="weui-desktop-switch__input js_original_apply js_ori_setting_checkbox" type="checkbox">
	                    <input type="hidden" id="ori-setting" value="2">
	                    <div class="weui-desktop-switch__box"></div>
	                  </label>
	                  <div>未声明原创</div>
	                </div>
	            </div>
	            
		    </div>
		    <div id="article_setting_area2" class="appmsg-editor__setting-group">
		    	<div class="setting-group__title" id="article_type_setting">文章设置</div>
		    	<div class="setting-group__content">
		    		<div id="js_article_tags_area" class="setting-group__checkbox-item">
		    			<label class="frm_checkbox_label" return="false">
		    				<input type="checkbox" class="frm_checkbox js_article_tags">
		    				<i class="icon_checkbox"></i>
		    				<div class="allow_click_opr js_article_tags_label">
		    					<span class="lbl_content">话题标签</span>
		    					<i class="lbl_content_after read-more__icon__more"></i>
		    					<span class="lbl_content_after lbl_content_desc js_article_tags_content">最多可以指定三个标签</span>
		    				</div>
		    			</label>
		    		</div>
		    	    <div id="js_article_option_area" class="setting-group__checkbox-item">
		    	    	<label class="frm_checkbox_label">
		    	    		<input type="checkbox" class="frm_checkbox" />
		    	    		<i class="icon_checkbox js_option_checkbox_icon"></i>
		    	    		<div class="allow_click_opr js_article_option_allow_click">
		    	    			<span class="lbl_content">分类专栏</span>
		    	    			<i class="lbl_content_after read-more__icon__more"></i>
		    	    			<span class="lbl_content_after lbl_content_desc lbl_content_desc_url article_url_setting">最多可以设置三个分类专栏</span>
		    	    		</div>
		    	    	</label>
		    	    </div>
		    	</div>
		    </div>
		
		</div>
		<div class="tool-bar-wrapper">
			<div id="bottom_main" class="tool_area_wrp">
				<div class="js_bot_bar tool_area">
					<div class="tool_bar">
						<div class="tool_bar_extend_left">
							<span id="word_count_container" class="fold_tips">
								正文字数
								<span  class="fold_tips_value">0</span>
							</span>
							<span class="js_fold fold_tips fold_tips_scrolltop">
								<a class="tool_bar__fold-btn ">回到顶部</a>
							</span>
						</div>
						<span id="js_send" class="btn btn_input btn_default fr">
							<button type="button">保存草稿</button>
						</span>
						<span id="js_preview" class="btn btn_input btn_default fr no_extra">
							<button type="button">预览</button>
						</span>
						<span id="js_submit" class="btn btn_input btn_primary fr">
							<button type="button">保存</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		
@}
