<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.WebsiteIpInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.dictionary.WebsiteIpInfo">
        <id column="ID" property="id" />
        <result column="IP_ADDR" property="ipAddr" />
        <result column="IP_VISIT_TIME" property="ipVisitTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, IP_ADDR, IP_VISIT_TIME
    </sql>

</mapper>
