body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
}
button{
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/**话题标签start**/
.dialog-wrapper{
	display: none;
}
.weui-desktop-dialog__wrp{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	white-space: nowrap;
	overflow: auto;
	z-index: 5000;
}
.weui-desktop-dialog{
	display: inline-block;
	min-width: 600px;
	max-width: 980px;
	text-align: left;
	margin: 40px;
	white-space: normal;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
	box-sizing: border-box;
    
}
.weui-desktop-dialog__hd{
	position: relative;
	overflow: hidden;
	padding: 0 32px;
	height: 72px;
	line-height: 72px;
}
.weui-desktop-dialog__title {
    font-weight: normal;
    font-size: 16px;
}
.weui-desktop-dialog__close-btn {
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}
.article_tags_dialog .article_tags_history_bd {
    max-height: 200px;
    overflow-y: auto;
}

.weui-desktop-icon-btn {
    background-color: transparent;
    padding: 0;
    border-width: 0;
    vertical-align: middle;
    font-size: 0;
    display: inline-block;
    cursor: pointer;
}
.article_tags_dialog .article_tags_dialog_inner {
    padding: 20px 32px 0;
}
.weui-desktop-form__control-group {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.weui-desktop-form__control-group {
    margin-bottom: 40px;
}
.weui-desktop-form__label{
	float: left;
	width: 2.5em;
	margin-right: 20px;
	margin-top: 0.628571em;
}
.weui-desktop-form__controls{
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	display: block;
	width: auto;
}
.article_tags_dialog .tags_input_wrap {
    position: relative;
}
.weui-desktop-form-tag__area{
	display: block;
	position: relative;
	border: 1px solid #e4e8eb;
	padding: 0.62857143em 10px 0;
	border-radius: 3px;
	overflow: auto;
	padding-right: 50px;
	
}
.weui-desktop-form__input-append-in{
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding-right: 8px;
	text-align: right;
	z-index: 1;
	
}
.weui-desktop-form__counter{
	font-style: normal;
	color: #9a9a9;
	vertical-align: middle;
	font-size: 14px;
}
.weui-desktop-form-tag__area .weui-desktop-form__counter{
	position: relative;
	margin-left: 16px;
	z-index: 1;
}
.weui-desktop-form__input-append-in:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    overflow: hidden;
 }
 .weui-desktop-form-tag__wrp{
 	width: auto;
 	display: block;
 	overflow: auto;
 	margin: 0;
 }
.weui-desktop-form-tag{
	position: relative;
	display: inline-block;
	z-index: 1;
	background-color: #f3f3f3;
	margin-right: 0.62857143em;
	line-height: 1.45714286em;
}
.weui-desktop-form-tag__name{
	display: inline-block;
	width: auto;
	max-width: 5em;
	padding: 0 4px;
	margin-top: -0.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	font-size: 12px;
	font-style: normal;
	vertical-align: middle;
	
}
.article_tags_dialog .weui-desktop-form-tag__name {
    max-width: 10em;
}
.weui-desktop-opr-btn{
	position: relative;
	background-color:transparent ;
	border: 1px solid #E3E4E5;
	border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
	padding: 0;
	font-size: 0;
	color: transparent;
	border-width: 0;
}
.weui-desktop-form-tag__name+.weui-desktop-opr-btn_close{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-top: -2px;
	border-left: 1px solid #E3E4E5;
	-webkit-border-radius:0;
	border-radius: 0;
}
.article_tags_dialog .weui-desktop-form-tag .weui-desktop-opr-btn {
    box-shadow: none;
}
.weui-desktop-opr-btn_close:before{
	 content: "";
	 width: 10px;
	 height: 1px;
	 background-color: #9A9A9A;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 margin-left: -5px;
	 -webkit-transform-origin: 50% 50%;
	 transform-origin: 50% 50%;
	 
	 transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    -ms-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    
}
.weui-desktop-opr-btn_close:after{
	content: "";
	 width: 10px;
	 height: 1px;
	 background-color: #9A9A9A;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 margin-left: -5px;
	 -webkit-transform-origin: 50% 50%;
	 transform-origin: 50% 50%;
	 
	transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    -ms-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    -webkit-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}
.weui-desktop-form-tag__input{
	border-width: 0;
	background-color: transparent;
	margin-left: 3px;
	width: 5em;
	height: 1.45714286em;
	line-height: 1.45714286em;
	margin-top: -0.2em;
	font-size: 11px;
}
.weui-desktop-form-tag__area .weui-desktop-form-tag,
.weui-desktop-form-tag__area .weui-desktop-form-tag__input {
    vertical-align: top;
    margin-bottom: 0.62857143em;
}
.article_tags_dialog .weui-desktop-form-tag__input {
    width: 12em;
}

.weui-desktop-form__tips{
	padding-top: 8px;
	color: #9a9a9a;
	line-height: 1.6;
}
.article_tags_dialog .article_tags_history_hd {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px;
}
.article_tags_dialog .article_tags_history_hd h4 {
    -ms-flex: 1;
    flex: 1;
    font-weight: 400;
}
.weui-desktop-form__check-label{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 30px;
	font: inherit;
	font-size: 14px;
	color: #353537;
	font-weight: 500;
}
.article_tags_dialog .article_tags_history_bd .weui-desktop-form__check-label {
    margin-bottom: 16px;
}
.weui-desktop-form__radio, .weui-desktop-form__checkbox {
    position: absolute;
    left: -9999em;
}
.weui-desktop-icon-radio, .weui-desktop-icon-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 1px solid #C9CDD3;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    font-size: 0;
}
.weui-desktop-icon-checkbox {
	text-align: center;
    border-radius: 2px;
}
.weui-desktop-form__checkbox:checked+.weui-desktop-icon-checkbox:before {
    content: " ";
    width: 8px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 1px;
    display: inline-block;
    vertical-align: 8px;
    margin-top: 3px;
    transform: matrix(0.71,-0.71,0.71,0.71,0,0);
    -ms-transform: matrix(0.71,-0.71,0.71,0.71,0,0);
    -webkit-transform: matrix(0.71,-0.71,0.71,0.71,0,0);
}

.weui-desktop-form__checkbox:checked + .weui-desktop-icon-checkbox {
    border: 1px solid #0088FF;
    background-color: #0088FF;
}
.weui-desktop-form__checkbox:disabled + .weui-desktop-icon-checkbox {
    background-color: #EBEDEF;
}
.weui-desktop-dialog__ft {
    padding: 24px 32px;
    text-align: center;
}
.weui-desktop-btn_wrp {
    display: inline-block;
}
.weui-desktop-dialog__ft .weui-desktop-btn_wrp {
    margin: 0 6px;
}

.weui-desktop-btn {
   display: inline-block;
   padding: 0 24px;
   min-width: 120px;
   box-sizing: border-box;
   line-height: 40px;
   vertical-align: middle;
   text-align: center;
   font-size: 17px;
   letter-spacing: 1px;
   font-weight: 500;
   cursor: pointer;
   border-width: 0px;
   border-style: solid;
   border-radius: 8px;
   
}
.weui-desktop-btn_default{
	background-color: #f6f7f8;
	color: #0084FF;
}
.article_tags_dialog .weui-desktop-btn{
	font-weight: normal;
	line-height: 36px;
	padding: 0 16px;
	min-width: 96px;
	font-size: 14px;
	letter-spacing: 0;
	border-radius: 4px;
}
.article_tags_dialog .weui-desktop-btn_default{
	color: #1a1b1c;
	border: 1px solid #E3e4e5;
}
.article_tags_dialog .weui-desktop-btn_default{
	line-height: 2.45;
}
.weui-desktop-btn_default:hover {
    background-color: #eff0f2;
    color: #858585;
    border-color: #e4e8eb;
}
.weui-desktop-btn_primary {
    background-color: #0088FF;
    color: #fff;
}
.weui-desktop-btn_primary:hover {
    background-color: #0077E6;
    border-color: #0077E6;
    color: #fff;
}
.weui-desktop-btn_disabled {
    cursor: default;
}
.weui-desktop-btn_disabled.weui-desktop-btn_primary{
	background-color: #66CCFF;
	border-color: #66CCFFss;
	color: #eef6fb;
}

.weui-desktop-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: default;
    color: #fff;
}
/**话题标签end**/

/**收藏夹start**/
.modal-wrapper{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.modal-backdrop{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(18,18,18,0.65);
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
.modal{
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 400px;
	max-height: calc(100Vh - 48px);
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 0 5px 20px rgba(18,18,18,.1);
    box-shadow: 0 5px 20px rgba(18,18,18,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: max-height 0.8s ease;
    transition: max-height 0.8s ease;
}
.modal--large {
    width: 536px;
}
.modal-inner {
    overflow: auto;
    background: #fff;
    border-radius: 2px;
}
.modal-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #121212;
    text-align: center;
}
.modal-subtitle {
    padding: 0 38px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    text-align: center;
}
.modal-content{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	padding: 0 24px 32px;
	margin-top: 24px;
	line-height: 1.7;
	opacity: 1;
}
.favlists-items {
    max-height: 335px;
    min-height: 140px;
    margin-bottom: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}
.favlists-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ebebeb;
}
.favlists-itemInner {
    overflow: hidden;
    margin-right: 20px;
}
.favlists-itemName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}
.favlists-itemNameText {
    overflow: hidden;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.favlists-itemContent {
    font-size: 14px;
    color: #8590a6;
    margin-top: 4px;
}
.favlists-updateButton {
    padding-left: 0;
    padding-right: 0;
    width: 76px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.favlists-actions {
    padding: 16px 20px;
}
.favlists-actions, .favlists-mobileActions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.button--blue:hover,  {
    background-color: rgba(0,132,255,0.06);
}
.favlists-addButton {
    width: 220px;
    color: #fff;
    background-color: #0084ff;
}
.modal-closeButton {
    position: absolute;
    top: 8px;
    right: -60px;
    padding: 12px;
}
.favlists-addItem {
    margin-bottom: 8px;
}
.modal-wrapper .input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    resize: none;
}
.modal-wrapper input.Input {
    color: #121212;
    height: 24px;
    line-height: 24px;
}
.modal-wrapper .input-wrapper{
	position: relative;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s,border .2s;
    transition: background .2s,border .2s;
}

.modal-wrapper .favlists-descritionInput, .modal-wrapper .favlists-titleInput {
    width: 100%;
    height: auto;
    padding: 8px 12px;
}
.favlists-inputTips {
    padding-top: 8px;
    text-align: right;
}
.maxLength {
	color: #8590A6;
    font-size: 14px;
}
.maxLength.is-error {
    color: #f1403c;
}
.input-wrapper.input-wrapper--multiline {
    height: inherit;
}
.favlists-privacyOption {
    display: block;
    margin-bottom: 6px;
    overflow: auto;
    font-size: 14px;
}
.favlists-privacyOptionRadio {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 2px!important;
    margin: 0 4px 0 0;
    vertical-align: middle;
    border: 2px solid #ebebeb;
}
.favlists-privacyOptionRadio {
    border-radius: 50%;
    -webkit-transition: background-color,border-color .3s;
    transition: background-color,border-color .3s;
    background-clip: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.favlists-privacyOptionRadio:checked {
    background-color: #0084ff;
    border-color: #0084ff;
}
.favlists-privacyOptionTips {
    margin-left: 4px;
    color: #8590a6;
}
.modalButtonGroup--horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 48px;
}
.modalButtonGroup--horizontal .button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}
.modalButtonGroup--horizontal .button+.button {
    margin-left: 16px;
}
.button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}


/**popovercontent START***/
.popover-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 20px rgba(18,18,18,0.1);
    box-shadow: 0 5px 20px rgba(18,18,18,0.1);
    z-index: 203;
}
.popover-content--top {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    margin-top: -8px;
}
.popover-content--top.popover-content--arrowed {
    margin-top: -16px;
}
.select-popoverTarget {
    margin-top: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.select-list {
    overflow: auto;
    position: relative;
    max-height: 500px;
    padding: 8px 0;
    border-radius: 4px;
}
.select-option {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: #8590a6;
    text-align: left;
    background: none;
    border: none;
}
.select-option:focus {
    outline: none;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s,-webkit-box-shadow 0.3s;
    background: #f6f6f6;
}
.columnItem-botton {
    display: block;
    width: 96px;
    line-height: 40px;
}
.popover-arrow {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.popover-arrow:after {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: -12px;
    border: 1px solid #ebebeb;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: auto;
}
.popover-arrow--top {
    width: 32px;
    height: 16px;
    margin-top: -2px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.popover-arrow--top:after {
    left: 50%;
    top: -8px;
}
/**popovercontent END***/