<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.AdvertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.advert.Advert">
        <id column="ID" property="id" />
        <result column="LOGO" property="logo" />
        <result column="BRAND" property="brand" />
        <result column="TITLE" property="title" />
        <result column="ADVERIMG" property="adverimg" />
        <result column="SUMMARY" property="summary" />
        <result column="URL" property="url" />
        <result column="CREATEDATE" property="createdate" />
        <result column="TERM" property="term" />
        <result column="STATUS" property="status" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, LOGO, BRAND, TITLE, ADVERIMG, SUMMARY, URL, CREATEDATE, TERM, STATUS
    </sql>

</mapper>
