<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.MessageinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.msg.Messageinfo">
        <id column="ID" property="id" />
        <result column="SUBJECT" property="subject" />
        <result column="TEXT" property="text" />
        <result column="FROM" property="from" />
        <result column="TO" property="to" />
        <result column="AIM" property="aim" />
        <result column="TYPE" property="type" />
        <result column="LIMITTIME" property="limittime" />
        <result column="SENDTIME" property="sendtime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SUBJECT, TEXT, FROM, TO, AIM, TYPE, LIMITTIME, SENDTIME
    </sql>

</mapper>
