<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.mapper.BloginfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="src.entity.Bloginfo">
        <id column="ID" property="id" />
        <result column="BLOGTITLE" property="blogtitle" />
        <result column="BLOGBRIEF" property="blogbrief" />
        <result column="BLOGPLAN" property="blogplan" />
        <result column="BLOGEXPLAIN" property="blogexplain" />
        <result column="BLOGTYPE" property="blogtype" />
        <result column="BLOGCOLUMN" property="blogcolumn" />
        <result column="CODE" property="code" />
        <result column="PUBLISHTIME" property="publishtime" />
        <result column="UPDATETIME" property="updatetime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BLOGTITLE, BLOGBRIEF, BLOGPLAN, BLOGEXPLAIN, BLOGTYPE, BLOGCOLUMN, CODE, PUBLISHTIME, UPDATETIME
    </sql>

</mapper>
