<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.FavoritesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.Favorites">
        <id column="ID" property="id" />
        <result column="FAVORITE" property="favorite" />
        <result column="SUBTITLE" property="subtitle" />
        <result column="UID" property="uid" />
        <result column="CREATEDATE" property="createdate" />
        <result column="STATUS" property="status" />
        <result column="VISUAL" property="visual" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FAVORITE, SUBTITLE, UID, CREATEDATE, STATUS, VISUAL
    </sql>
    <!-- 收藏夹列表(收藏时使用) -->
    <select id="selectFavoritesList" parameterType="com.itour.model.travel.dto.FavoritesDto" resultType="com.itour.model.travel.dto.FavoritesDto">
      SELECT 
        t1.*,IFNULL(t2.collectCount,0) collectCount FROM(
	        SELECT 
	          c1.*,IFNULL(c2.`STATUS`,'2') checked
			    FROM t_t_favorites c1 LEFT JOIN t_t_collect  c2 
			    ON c1.ID= c2.FID AND c1.UID=#{vo.uid} AND c2.`STATUS`='1' AND c1.`STATUS`='1' AND c2.TID=#{vo.tid}) t1
		        LEFT JOIN 
		        (SELECT count(c.TID) collectCount, FID FROM t_t_collect c WHERE UID=#{vo.uid} AND c.STATUS='1' GROUP BY c.FID) t2
			    ON t1.ID= t2.FID ORDER BY t1. CREATEDATE DESC  
    </select>
      <!-- 会员中心使用 -->
     <select id="queryfavList" parameterType="com.itour.model.travel.dto.FavoritesDto" resultType="com.itour.model.travel.dto.FavoritesDto">
    SELECT t1.*,IFNULL(t2.time ,t1.CREATEDATE)latestDate,IFNULL(t2.articleCount,0)articleCount FROM (SELECT * FROM t_t_favorites c WHERE c.UID=#{vo.uid} and `STATUS`='1' ) t1 
		 LEFT JOIN
		 (SELECT Max(CTIME) time ,count(*) articleCount, FID FROM t_t_collect c WHERE c.UID=#{vo.uid} and  `STATUS`='1' GROUP BY FID) t2 ON t1.id=t2.FID
 		  <where>
	 		  <if test="vo.visual!=null and ''!=vo.visual">
			      visual= #{vo.visual}
			   </if>
			   
 		  </where>
 		  ORDER BY latestDate DESC
    </select>
</mapper>
