<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.FavoritesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.Favorites">
        <id column="ID" property="id" />
        <result column="FAVORITE" property="favorite" />
        <result column="SUBTITLE" property="subtitle" />
        <result column="UID" property="uid" />
        <result column="CREATEDATE" property="createdate" />
        <result column="STATUS" property="status" />
        <result column="VISUAL" property="visual" />
        <result column="DELETE_DATE" property="deleteDate" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FAVORITE, SUBTITLE, UID, CREATEDATE, STATUS, VISUAL,DELETE_DATE
    </sql>
    <!-- 收藏夹列表(收藏时使用) -->
    <select id="selectFavoritesList" parameterType="com.itour.model.travel.dto.FavoritesDto" resultType="com.itour.model.travel.dto.FavoritesDto">
    	SELECT 
    	t1.*,IFNULL(t2.`STATUS`,'2') checked,IFNULL(t3.collectCount,0) collectCount 
    	FROM (
		  SELECT *FROM t_t_favorites c1 WHERE c1.UID=#{vo.uid} and c1.`STATUS`='1') t1
		  		LEFT JOIN  
		  	t_t_collect  t2 ON t1.id =t2.fid and t2.tid=#{vo.tid}
				LEFT JOIN
		 	(SELECT c.fid ,count(*) collectCount FROM t_t_collect c WHERE c.uid=#{vo.uid} and c.STATUS='1'GROUP BY c.fid) t3 ON t1.id=t3.fid
    </select>
      <!-- 会员中心使用 -->
     <select id="queryfavList" parameterType="com.itour.model.travel.dto.FavoritesDto" resultType="com.itour.model.travel.dto.FavoritesDto">
    SELECT t1.*,IFNULL(t2.time ,t1.CREATEDATE)latestDate,IFNULL(t2.articleCount,0)articleCount FROM (SELECT * FROM t_t_favorites c WHERE c.UID=#{vo.uid} and `STATUS`='1' ) t1 
		 LEFT JOIN
		 (SELECT Max(CTIME) time ,count(*) articleCount, FID FROM t_t_collect c WHERE c.UID=#{vo.uid} and  `STATUS`='1' GROUP BY FID) t2 ON t1.id=t2.FID
 		  <where>
	 		  <if test="vo.visual!=null and ''!=vo.visual">
			      visual= #{vo.visual}
			   </if>
			   
 		  </where>
 		  ORDER BY latestDate DESC
    </select>
</mapper>
