<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.LocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.Location">
        <id column="ID" property="id" />
        <result column="COUNTRY_CODE" property="countryCode" />
        <result column="COUNTRY" property="country" />
        <result column="COUNTRY_EN" property="countryEn" />
        <result column="CODE" property="code" />
        <result column="CITY_EN" property="cityEn" />
        <result column="CITY" property="city" />
        <result column="SIGNIMG" property="signimg" />
        <result column="LOCIMG" property="locimg" />
        <result column="DISTRICTIMG" property="districtimg" />
        <result column="DISTRICTDESC" property="districtdesc" />
        <result column="LOCATION" property="location" />
        <result column="INTROUDUCE" property="introuduce" />
        <result column="WEATHER" property="weather" />
        <result column="PID" property="pid" />
        <result column="LEVEL" property="level" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, COUNTRY_CODE, COUNTRY, COUNTRY_EN, CODE, CITY_EN, CITY, SIGNIMG, LOCIMG, DISTRICTIMG, DISTRICTDESC, LOCATION, INTROUDUCE, WEATHER,PID,LEVEL
    </sql>

</mapper>
