<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.NiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.Nice">
        <id column="ID" property="id" />
        <result column="TID" property="tid" />
        <result column="NICE" property="nice" />
        <result column="UID" property="uid" />
        <result column="TIME" property="time" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TID, NICE, UID, TIME
    </sql>

</mapper>
