<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.ScenicSpotMapper">

    <!-- 开启二级缓存 -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.ScenicSpot">
        <id column="ID" property="id" />
        <result column="SCENICIMG" property="scenicimg" />
        <result column="SCENIC_SPOT" property="scenicSpot" />
        <result column="TYPE" property="type" />
        <result column="SINTROUDUCE" property="sintrouduce" />
        <result column="INTROUDUCE" property="introuduce" />
        <result column="PRICE" property="price" />
        <result column="CITY" property="city" />
        <result column="CCODE" property="ccode" />
        <result column="ADDR" property="addr" />
        <result column="STRANSPORTATION" property="stransportation" />
        <result column="RECOMMEND" property="recommend" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SCENICIMG, SCENIC_SPOT, TYPE, SINTROUDUCE, INTROUDUCE, PRICE, CITY, CCODE, ADDR, STRANSPORTATION, RECOMMEND
    </sql>

</mapper>
