<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.TravelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.TravelInfo">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="SUMMARY" property="summary" />
        <result column="URL" property="url" />
        <result column="TYPE" property="type" />
        <result column="ARTICLE_TYPE" property="articleType" />
        <result column="UID" property="uid" />
        <result column="CODE" property="code" />
        <result column="READ_COUNT" property="readCount" />
        <result column="COMMENT_COUNT" property="commentCount" />
        <result column="NICE_COUNT" property="niceCount" />
        <result column="PV" property="pv" />
        <result column="STATUS" property="status" />
        <result column="PUBLISHTIME" property="publishtime" />
        <result column="UPDATETIME" property="updatetime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, SUMMARY, URL, TYPE, ARTICLE_TYPE, UID, CODE, READ_COUNT, COMMENT_COUNT, NICE_COUNT, PV,STATUS, PUBLISHTIME, UPDATETIME
    </sql>
    <!-- 
       1.set 元素会动态地在行首插入 SET 关键字，并会删掉额外的逗号
     -->
    <update id="updatePvBatch" parameterType="list">
       <foreach collection="list" item="t" separator=";">
       	update t_t_travel_info set pv=IFNULL(pv,0)+#{pv}  where id=#{id}     	
       </foreach>
    </update>
    <!-- 
    dynamic 1:自己发布;2.点赞过的文章;3:评论过的文章;4:收藏过的文章 
    mold: 1:动态;2文章;3:专栏;4:收藏;5:草稿
	  #自己发布的文章
	SELECT t1.*,t1.PUBLISHTIME time,t2.NICKNAME,t2.AVATAR, 1 mold,1 dynamic
	FROM t_t_travel_info t1 INNER JOIN t_a_oauth t2 on t1.UID = t2.U_ID
	 and t1.UID='10000' and t1.`STATUS`='30' and t2.OAUTH_ID='3398660467@qq.com';
	#自己点赞过的文章
	SELECT t1.*,t2.CREATEDATE time,t3.NICKNAME,t3.AVATAR, 1 mold,2 dynamic
	FROM t_t_travel_info t1 INNER JOIN t_t_nice t2 ON t1.ID = t2.TID and t1.`STATUS`='30' and  t2.UID='10000' and t2.STATUS='1'
	INNER JOIN t_a_oauth t3 on t1.UID =t3.U_ID and t3.OAUTH_TYPE='email' ;
	#评论过的文章
	-->
    <select id="selectDynamicList" parameterType="com.itour.model.travel.dto.TravelInfoDto" resultType="com.itour.model.travel.dto.TravelInfoDto">
           <if test='vo.mold=="1"'>
            SELECT * FROM(
	            SELECT * FROM (
		            SELECT t1.*,t1.PUBLISHTIME time,t2.NICKNAME,t2.AVATAR, 1 mold,1 dynamic,IFNULL(t3.`STATUS`,'0') niceStatus,t3.UID niceUid
				   FROM t_t_travel_info t1 INNER JOIN t_a_oauth t2 on t1.UID = t2.U_ID
						and t1.UID=#{vo.uid} and t1.`STATUS`='30' and t2.OAUTH_ID=#{vo.oauthId}
						LEFT JOIN t_t_nice t3 ON t1.ID= t3.TID and t3.UID=#{vo.uid}
				) c1
				  UNION ALL				
				SELECT * FROM (
					SELECT t1.*,t2.CREATEDATE time,t3.NICKNAME,t3.AVATAR, 1 mold,2 dynamic,IFNULL(t4.`STATUS`,'0') niceStatus,t4.UID niceUid
					FROM t_t_travel_info t1 INNER JOIN t_t_nice t2 ON t1.ID = t2.TID 
						and t1.`STATUS`='30' and  t2.UID=#{vo.uid} and t2.STATUS='1'
					INNER JOIN t_a_oauth t3 on t1.UID =t3.U_ID 
						and t3.OAUTH_TYPE='email'
					LEFT JOIN t_t_nice t4 ON t1.ID= t4.TID and t4.UID=#{vo.uid}
				) c2				
			)c3 ORDER BY time DESC
		  </if>
		  <if test='vo.mold =="2"'>
		   SELECT t1.*,t1.PUBLISHTIME time,t2.NICKNAME,t2.AVATAR, 2 mold,IFNULL(t3.`STATUS`,'0') niceStatus,t3.UID niceUid
		   FROM t_t_travel_info t1 INNER JOIN t_a_oauth t2 on t1.UID = t2.U_ID
				and t1.UID=#{vo.uid} and t1.`STATUS`='30' and t2.OAUTH_ID=#{vo.oauthId}
				LEFT JOIN t_t_nice t3 ON t1.ID= t3.TID and t3.UID=#{vo.uid}
				<foreach collection="vo.orderbyList" item="item" separator="," index="index">
				 <if test="index==0">
				  order by
				 </if>
				  ${item.sortType}
				 <if test='item.sortRule=="0"'>
				    desc
				 </if>
				</foreach>
		  </if>
		  <if test='vo.mold =="5"'>
		   SELECT t1.*,t1.PUBLISHTIME time,t2.NICKNAME,t2.AVATAR, 1 mold,IFNULL(t3.`STATUS`,'0') niceStatus,t3.UID niceUid
		   FROM t_t_travel_info t1 INNER JOIN t_a_oauth t2 on t1.UID = t2.U_ID
				and t1.UID=#{vo.uid} and t1.`STATUS`='10' and t2.OAUTH_ID=#{vo.oauthId}
				LEFT JOIN t_t_nice t3 ON t1.ID= t3.TID and t3.UID=#{vo.uid}
		  </if>
		  
    </select>
    <select id="getInfoData" parameterType="com.itour.model.travel.dto.TravelInfoDto" resultType="com.itour.model.travel.dto.TravelInfoDto">
    SELECT t1.infoCount,t2.draffCount FROM(
    	SELECT UID,STATUS,count(*) infoCount FROM t_t_travel_info c  GROUP BY UID,STATUS HAVING  c.UID=#{vo.uid} and c.`STATUS`='30')t1 
    	INNER JOIN (
    	SELECT UID,STATUS,count(*) draffCount FROM t_t_travel_info c  GROUP BY UID,STATUS HAVING  c.UID=#{vo.uid} and c.`STATUS`='10') t2
		ON t1.UID=t2.UID
    </select>
    <select id="searchTextList" parameterType="com.itour.model.travel.dto.TravelInfoDto" resultType="com.itour.model.travel.dto.TravelInfoDto">
      SELECT t1.*,t2.NICKNAME,1 mold FROM t_t_travel_info t1  
        INNER JOIN t_a_oauth t2 on t1.UID = t2.U_ID and t2.OAUTH_TYPE='email'
		and (t1.TITLE like "%"#{vo.title}"%" or t1.SUMMARY LIKE "%"#{vo.title}"%")
		<if test="vo.type!=null and '' !=vo.type">
		  and t1.type=#{vo.type}
		</if>
      
    </select>
    <select id="selectTravelInfoList" parameterType="com.itour.model.travel.dto.TravelInfoDto" resultType="com.itour.model.travel.dto.TravelInfoDto">
       <choose>
         <when test="vo.loginUid==null or ''==vo.loginUid">
         SELECT 
           c.*,a.NICKNAME,a.AVATAR 
         FROM T_T_TRAVEL_INFO c, T_A_OAUTH a 
         WHERE a.OAUTH_TYPE='email' AND a.U_ID=c.UID AND c.`STATUS` ='30'
         order by c.PUBLISHTIME DESC
         </when>
         <otherwise>
           SELECT t1.*,t2.NICKNAME,t2.AVATAR,IFNULL(t3.STATUS,'0') niceStatus,t3.UID niceUid
			FROM
				T_T_TRAVEL_INFO t1 INNER JOIN
				T_A_OAUTH t2 
			ON t1.UID= t2.U_ID AND t2.OAUTH_TYPE='email' and t1.`STATUS` ='30'
			LEFT JOIN 
			 t_t_nice t3 ON t1.ID=t3.TID and t3.uid=#{vo.loginUid}  order by t1.PUBLISHTIME DESC
         </otherwise>
       </choose>
    </select>
    
    <select id="selectTraveInfo" parameterType="com.itour.model.travel.dto.TravelInfoDto" resultType="com.itour.model.travel.dto.TravelInfoDto">
    
    <choose>
      <when test="vo.loginUid==null or ''==vo.loginUid" >
      	SELECT t1.*,t2.NICKNAME,t2.AVATAR
	FROM
		T_T_TRAVEL_INFO t1 INNER JOIN
		T_A_OAUTH t2 
	ON t1.UID= t2.U_ID AND t2.OAUTH_TYPE='email' and t1.STATUS='30' AND t1.ID=#{vo.id}
      </when>
      <otherwise>
      SELECT t1.*,t2.NICKNAME,t2.AVATAR,IFNULL(t3.`STATUS`,'0') niceStatus,t3.UID niceUid
	FROM
		T_T_TRAVEL_INFO t1 INNER JOIN
		T_A_OAUTH t2 
	ON t1.UID= t2.U_ID AND t2.OAUTH_TYPE='email' and t1.STATUS='30' AND t1.ID=#{vo.id}
	LEFT JOIN 
	 t_t_nice t3 ON t1.ID=t3.TID and t3.uid=#{vo.loginUid} 
      </otherwise>
    </choose>
    
    </select>
</mapper>
