<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.TravelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.TravelInfo">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="SUMMARY" property="summary" />
        <result column="URL" property="url" />
        <result column="TYPE" property="type" />
        <result column="ARTICLE_TYPE" property="articleType" />
        <result column="UID" property="uid" />
        <result column="CODE" property="code" />
        <result column="READ_COUNT" property="readCount" />
        <result column="COMMENT_COUNT" property="commentCount" />
        <result column="NICE_COUNT" property="niceCount" />
        <result column="PV" property="pv" />
        <result column="STATUS" property="status" />
        <result column="PUBLISHTIME" property="publishtime" />
        <result column="UPDATETIME" property="updatetime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, SUMMARY, URL, TYPE, ARTICLE_TYPE, UID, CODE, READ_COUNT, COMMENT_COUNT, NICE_COUNT, PV,STATUS, PUBLISHTIME, UPDATETIME
    </sql>
    <!-- 
       1.set 元素会动态地在行首插入 SET 关键字，并会删掉额外的逗号
     -->
    <update id="updatePvBatch" parameterType="list">
       <foreach collection="list" item="t" separator=";">
       	update t_t_travel_info set pv=IFNULL(pv,0)+#{pv}  where id=#{id}     	
       </foreach>
    </update>
    <!-- 
    dynamic 1:自己发布;2.点赞过的文章;3:评论过的文章;4:收藏过的文章 
    mold: 1:动态;2文章;
    -->
    <select id="selectDynamicList" parameterType="java.util.Map" resultType="com.itour.model.travel.dto.TravelInfoDto">
           <if test='mold=="1"'>
           SELECT 1 mold,1 dynamic, tmp1.PUBLISHTIME time,tmp2.AVATAR,tmp2.NICKNAME,tmp1.*  FROM 
			(SELECT c.*  FROM t_t_travel_info c WHERE c.UID=#{uid}) tmp1 ,
			(SELECT c.U_ID, c.AVATAR,c.NICKNAME FROM t_a_oauth c WHERE c.OAUTH_ID=#{oauthId} and c.oauth_type ='email') tmp2 WHERE tmp1.UID =tmp2.U_ID
		  </if>
		  <if test='mold =="2"'>
		    select 2 mold,t1.PUBLISHTIME time,t2.AVATAR,t2.NICKNAME,t1.* from
				(select  c.* from t_t_travel_info c where c.UID =#{uid}) t1 LEFT JOIN
				(select c.U_ID ,c.AVATAR, c.NICKNAME from t_a_oauth c where c.U_ID=#{uid} and c.OAUTH_TYPE='email') t2 on t1.UID=t2.U_ID
		  </if>
		  
    </select>
</mapper>
