<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.persist.TravelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itour.model.travel.TravelInfo">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="SUMMARY" property="summary" />
        <result column="URL" property="url" />
        <result column="TYPE" property="type" />
        <result column="ARTICLE_TYPE" property="articleType" />
        <result column="UID" property="uid" />
        <result column="CODE" property="code" />
        <result column="READ_COUNT" property="readCount" />
        <result column="COMMENT_COUNT" property="commentCount" />
        <result column="NICE_COUNT" property="niceCount" />
        <result column="PV" property="pv" />
        <result column="PUBLISHTIME" property="publishtime" />
        <result column="UPDATETIME" property="updatetime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, SUMMARY, URL, TYPE, ARTICLE_TYPE, UID, CODE, READ_COUNT, COMMENT_COUNT, NICE_COUNT, PV, PUBLISHTIME, UPDATETIME
    </sql>
    <!-- 
       1.set 元素会动态地在行首插入 SET 关键字，并会删掉额外的逗号
     -->
    <update id="updatePvBatch" parameterType="list">
       <foreach collection="list" item="t" separator=";">
       	update t_t_travel_info set pv=IFNULL(pv,0)+#{pv}  where id=#{id}     	
       </foreach>
    </update>
</mapper>
